<header id="header">
<div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"><a ui-sref="my-task({type : first})"><img src="content/images/logo.png" alt="WMS"></a></span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
</div>

    <span class="taskAddBtn" ng-click="taskAddModalOpen()" class="activity-dropdown pull-left" activities-dropdown-toggle>
        <span style="font-size: 16px; color : #777">작업 등록</span>
    </span>
    <!-- input: search field -->
    <form action="#/search" class="header-search pull-left">
        <input id="search-fld" type="text" name="param" placeholder="검색" disabled="disabled" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
        <a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
    </form>
    <!-- end input: search field -->

<recent-projects></recent-projects>



<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- collapse menu button -->
    <!--<div id="hide-menu" class="btn-header pull-right">-->
        <!--<span> <a toggle-menu title="Collapse Menu"><i-->
            <!--class="fa fa-reorder"></i></a> </span>-->
    <!--</div>-->
    <!-- end collapse menu -->

    <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right">
        <span> <a ng-click="vm.logout()" title="Sign Out" data-action="userLogout"
                  data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
            class="fa fa-sign-out"></i></a> </span>
    </div>
    <!-- end logout button -->

    <div class="btn-header transparent pull-right"><a ui-sref="my-profile"><img class="top-profile-img-btn" src="/content/images/demo/male.png"></a></div>

    <div class="btn-header transparent pull-right" id="taskHistorySection">
        <span class="taskHistoryBtnSection"> <a gnb-task-history-toggle><i class="fa fa-rss"></i></a> </span>
        <div class="gnb-task-history-area  taskHistorySection" ng-controller="taskRecentHistoryCtrl as vm">
            <div class="pull-right searchBtn"><a class="cursor"><i class="fa fa-search" style=" font-size: 30px;"></i></a></div>
            <h3>이력</h3>
            <div class="gnb-task-history-list">
                <div ng-repeat="history in vm.historyList track by $index">
                    <div class="history-day-title"
                        ng-if="(history.createdDate | date : 'MM/dd') == vm.day && (history.createdDate | date : 'MM/dd') != (vm.historyList[$index-1].createdDate | date : 'MM/dd')">
                        오늘
                    </div>
                    <div class="history-day-title"
                        ng-if="(vm.historyList[$index].createdDate | date : 'MM/dd') != vm.day && (history.createdDate | date : 'MM/dd') != (vm.historyList[$index-1].createdDate | date : 'MM/dd')">
                        어제
                    </div>
                    <div ng-if="history.taskName != vm.historyList[$index-1].taskName
                            || (history.createdDate | date : 'MM/dd') != (vm.historyList[$index-1].createdDate | date : 'MM/dd')" style="font-size: 15px">
                        <a ui-sref="my-task.detail({id : history.taskId, listType : 'TODAY', taskId : history.taskId})" href="#/myTask/detail/TODAY/10571"><strong>{{history.taskName}}</strong></a>
                    </div>
                    <div ng-if="(history.taskName != vm.historyList[$index-1].taskName
                            || (history.createdDate | date : 'MM/dd') != (vm.historyList[$index-1].createdDate | date : 'MM/dd'))
                            || (history.createdBy != vm.historyList[$index-1].createdBy
                            || (history.createdDate | date : 'MM/dd') != (vm.historyList[$index-1].createdDate | date : 'MM/dd'))" style="font-size: 15px">
                        <!--<strong>{{history.createdByName}}</strong>-->
                        <ul class="list-inline friends-list comment-user-recent margin-top-5">
                            <li>
                                <img ng-src="/content/images/demo/male.png" ng-if="history.profileImageId == null || history.profileImageId == '' " uib-tooltip="{{history.createdByName}}">
                                <img ng-src="api/attachedFile/{{history.profileImageId}}" ng-if="history.profileImageId != null" uib-tooltip="{{history.createdByName}}">
                                <strong>{{history.createdByName}}</strong>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <!--<span translate="audit.entity.project" ng-if="data.entityField == null || data.entityField == ''">엔티티 {{'audit.entity.project' | translate}}</span>-->

                        <span translate="audit.entity.task" ng-if="history.entityField == null || history.entityField == ''">엔티티</span>
                        <span translate="audit.field.task.{{history.entityField}}" ng-if="(history.entityField != null && history.entityField != '') && history.entityField != 'taskUsers'">필드</span>
                        <span translate="audit.field.task.{{history.etcValue}}"  ng-if="(history.entityField != null && history.entityField != '') && history.entityField == 'taskUsers'">필드</span>
                        <span translate="audit.persist-type.{{history.persistType}}">유형</span>
                        <span ng-if="history.entityField != 'taskAttachedFiles' && history.entityField != 'taskRepeatSchedule' && history.entityField != 'contents'">
                            <span ng-if="history.persistType == 'INSERT' || history.persistType == 'UPDATE'">
                                <span ng-if="history.entityField == 'importantYn'">
                                    <span ng-if="history.newValue == 'true'">
                                        활성 {{history.createdDate | date : 'HH:mm'}}
                                    </span>
                                    <span ng-if="history.newValue == 'false'">
                                        비활성 {{history.createdDate | date : 'HH:mm'}}
                                    </span>
                                </span>
                                <span ng-if="history.entityField != 'importantYn'">
                                    {{history.newValue}} {{history.createdDate | date : 'HH:mm'}}
                                </span>
                            </span>
                            <span ng-if="history.persistType == 'DELETE'">
                                {{history.oldValue}} {{history.createdDate | date : 'HH:mm'}}
                            </span>
                        </span>
                        <span ng-if="history.entityField == 'taskAttachedFiles' && history.entityField != 'taskRepeatSchedule' && history.entityField != 'contents'">

                            <span ng-if="history.persistType == 'INSERT' || history.persistType == 'UPDATE'">
                                <i class="fa fa-paperclip"></i>
                                <a ng-click="vm.fileDownLoad(history.attachedFileId)">{{history.newValue}}</a> {{history.createdDate | date : 'HH:mm'}}
                            </span>
                            <span ng-if="history.persistType == 'DELETE'">
                                {{history.oldValue}} {{history.createdDate | date : 'HH:mm'}}
                            </span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="gnb-task-history-plus-area"><a ng-click="vm.getCurrentHistory()"><i class="fa fa-plus"></i> 더보기</a></div>
        </div>
    </div>

    <!-- 코멘트 -->
    <div class="btn-header pull-right">
        <span class="activity"> <a><i class="fa fa-commenting-o"></i></a></span>
    </div>

    <!-- 알림 개수 -->
    <div class="btn-header entity-count pull-right" ng-controller="NavbarController as vm">
        <span class="activity"> <a ui-sref="my-notification"><i class="fa fa-bell-o"></i></a><b class="badge bg-color-red">{{vm.notificationCount}}</b></span>
    </div>

    <!-- 내 작업 개수 -->
    <div class="btn-header entity-count pull-right" ng-controller="NavbarController as vm">
        <span class="activity"> <a ui-sref="my-task"><i class="fa fa-check-circle"></i></a><b class="badge bg-color-red">{{vm.todayTotalCount}}</b></span>
    </div>


    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
        <li class="">
            <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                <!--<img src="styles/img/avatars/sunny.png" alt="John Doe" class="online"/>-->
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href-void class="padding-10 padding-top-0 padding-bottom-0"><i
                            class="fa fa-cog"></i> Setting</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="app.appViews.profileDemo" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i>
                        <u>P</u>rofile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href-void class="padding-10 padding-top-0 padding-bottom-0"
                       data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href-void class="padding-10 padding-top-0 padding-bottom-0"
                       data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#/login" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i
                            class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- search mobile button (this is hidden till mobile view port) -->
    <div id="search-mobile" class="btn-header transparent pull-right" data-search-mobile>
        <span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>
    <!-- end search mobile button -->

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-right">
        <span> <a full-screen title="Full Screen"><i
                class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->

    <!-- #Voice Command: Start Speech -->
    <div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">


                <!--&lt;!&ndash; 동적 navbar &ndash;&gt;-->
                <!--<li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" ng-repeat="menu in vm.menu track by $index" uib-dropdown ng-show="menu.displayYn ? (permissionCheck.check(menu.permissionUrl) ? menu.displayYn : false) : false">-->
                    <!--<a ng-click="vm.collapseNavbar()" class="dropdown-toggle" uib-dropdown-toggle>-->
                        <!--<span class="glyphicon glyphicon-th-list"></span>-->
                        <!--<span class="hidden-sm" translate="{{menu.name}}">{{menu.name}}</span>-->
                        <!--<b class="caret"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu" uib-dropdown-menu>-->
                        <!--<li ui-sref-active="active" ng-repeat="child in menu.childMenus track by $index" ng-include="'nodes_renderer.html'" >-->

                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            </div>
        <div>
            <a title="Voice Command" id="voice-command-btn" wms-Recognition><i class="fa fa-microphone"></i></a>

            <div class="popover bottom">
                <div class="arrow"></div>
                <div class="popover-content">
                    <h4 class="vc-title">Voice command activated <br>
                        <small>Please speak clearly into the mic</small>
                    </h4>
                    <h4 class="vc-title-error text-center">
                        <i class="fa fa-microphone-slash"></i> Voice command failed
                        <br>
                        <small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
                        <br>
                        <small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
                    </h4>
                    <a href-void class="btn btn-success" id="speech-help-btn">See Commands</a>
                    <a href-void class="btn bg-color-purple txt-color-white"
                       onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end voice command -->



    <!-- multiple lang dropdown : find all flags in the flags page -->
    <language-selector></language-selector>
    <!-- end multiple lang -->



</div>
<!-- end pulled right: nav area -->

</header>
