
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPermissionLabel" translate="wmsApp.permission.home.createOrEditLabel">Create or edit a Permission</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.permission.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.permission.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.permission.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.permission.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.permission.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.permission.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.permission.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.permission.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.permission.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                    ng-model="vm.permission.action"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.permission.roleGubun" for="field_roleGubun">Role Gubun</label>
            <input type="text" class="form-control" name="roleGubun" id="field_roleGubun"
                    ng-model="vm.permission.roleGubun"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.permission.rolePermissionYn" for="field_rolePermissionYn">Role Permission Yn</label>
            <input type="checkbox" class="form-control" name="rolePermissionYn" id="field_rolePermissionYn"
                    ng-model="vm.permission.rolePermissionYn"
                     />
        </div>

        <div class="form-group">
            <label translate="wmsApp.permission.permissionCategory" for="field_permissionCategory">Permission Category</label>
            <select class="form-control" id="field_permissionCategory" name="permissionCategory" ng-model="vm.permission.permissionCategoryId" ng-options="permissionCategory.id as permissionCategory.id for permissionCategory in vm.permissioncategories"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="wmsApp.permission.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" ng-model="vm.permission.parentId" ng-options="permission.id as permission.id for permission in vm.permissions"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
