<div class="well" style="overflow-y: auto; background-color: #fff;">
    <ul class="nav nav-tabs nav-justified project-menu-area">
        <li class="text-center" ng-class="vm.tabArea[0].status == true ? 'active' : ''" ng-click="vm.tabDisplay(0)"><span>이미지</span></li>
        <li class="text-center" ng-class="vm.tabArea[1].status == true ? 'active' : ''" ng-click="vm.tabDisplay(1)"><span>파일</span></li>
    </ul>
    <!-- 이미지 탭 -->
    <div ng-show="vm.tabArea[0].status">
        <div class="project-file-btn-area">
            <div class="pull-right">
                <button type='button' class='btn'><i class='fa fa-download'></i></button>
                <button type='button' class='btn'><i class='fa fa-upload'></i></button>
                <button type='button' class='btn'><i class='fa fa-trash'></i></button>
            </div>
        </div>
        <div style="width: 100%;">
            <ng-gallery images="vm.images" thumbs-num="10"></ng-gallery>
        </div>

    </div>

    <!-- 파일 탭 -->
    <div ng-show="vm.tabArea[1].status">
        <div class="project-file-btn-area">
            <div class="pull-right">
                <button type='button' class='btn'><i class='fa fa-download'></i></button>
                <label for="input-4" class="cursor"><span type='button' class='btn'><i class='fa fa-upload'></i></span></label>
                <button type='button' class='btn'><i class='fa fa-trash'></i></button>
                <input id="input-4" name="input4[]" type="file" multiple class="file-loading" style="display: none">
            </div>
            <style>
                .file-input{
                    display: none;
                }
            </style>
        </div>
        <span style="clear: both"></span>
        <wms-table ng-model="vm.fileList" table-configs="vm.tableConfigs" update-callback="updateCallback" controller-name="projectFileCtrl"></wms-table>

    </div>


</div>
