<div id="content" ng-cloak>
    <div class="layout-scroll" style="position: relative; background: #fff; overflow: hidden;" dynamic-content-scroll area-type="content">
        <bg-splitter orientation="horizontal">
            <bg-pane min-size="400">
                <div >
                <!--<div ui-view="taskList"></div>-->
                <uib-accordion close-others="oneAtATime">
                    <div class="word-break-all" style="font-weight: bold; font-size: 20px; background: #fff; padding: 0 10px; border-bottom: 1px solid rgb(221, 221, 221);">
                        <a class="pull-right" project-dynamic-height project-info-view-yn="vm.projectInfoViewYn">
                            <i ng-if="vm.projectInfoViewYn == false" class="fa fa-chevron-down" aria-hidden="true"></i>
                            <i ng-if="vm.projectInfoViewYn" class="fa fa-chevron-up" aria-hidden="true"></i>
                        </a>
                        <a ui-sref="my-project.detail({project:vm.project})"><i class="fa fa-folder-open-o"></i> <span>{{vm.project.name}}</span>
                            <span ng-show="vm.project.endDate != '' || vm.project.startDate != ''">
                                [
                                일정 :
                                <span ng-if="vm.project.startDate != '' || vm.project.endDate != ''">{{vm.project.startDate | date : 'yyyy-MM-dd'}} ~ {{vm.project.endDate | date : 'yyyy-MM-dd'}}</span>
                                ]
                            </span>
                        </a>

                    </div>
                    <div style="background: #fff; padding: 0 10px;" ng-if="vm.projectInfoViewYn">
                        <div class="row" style="border-bottom: 1px solid rgb(221, 221, 221);">
                            <div class="col-md-5" style="padding: 0">
                                <pie-chart data="pieData" options="pieOptions"></pie-chart>
                            </div>
                            <div class="col-md-3" style="padding: 70px 0 0;">
                                <ul>
                                    <li><a class="cursor" style="font-size: 16px;font-weight: bold;" ng-click="vm.getTaskListInProjectFilter('TOTAL')">전체</a></li>
                                    <li><a class="cursor" style="font-size: 16px;font-weight: bold;" ng-click="vm.getTaskListInProjectFilter('WEEK')">이번주</a></li>
                                    <li><a class="cursor" style="font-size: 16px;font-weight: bold;" ng-click="vm.getTaskListInProjectFilter('DELAYED')">지연된 작업</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 project-info-count-area">
                                <ul>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <div class="project-info-count"><div>{{vm.projectTeam.length}}</div></div>
                                        </div>
                                        <div class="col-md-6 project-info-count-column">
                                            멤버
                                        </div>
                                    </li>
                                    <li class="row" ng-show="vm.project.endDate != ''">
                                        <div class="col-md-6">
                                            <div class="project-info-count"><div>{{vm.dDay}}d</div></div>
                                        </div>
                                        <div class="col-md-6 project-info-count-column">
                                            남은기간
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <div class="project-info-count"><div>{{vm.coumplatePercent.width}}</div></div>
                                        </div>
                                        <div class="col-md-6 project-info-count-column">
                                            완료율
                                        </div>
                                    </li>
                                </ul>

                                <!--<div class="progress progress-sm">-->
                                    <!--<div class="progress-bar bg-color-greenLight" role="progressbar" ng-style="vm.coumplatePercent">{{vm.info.completeCount}}/{{vm.tasks.length}}</div>-->

                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div style="background: #fff;">
                        <ul class="nav nav-tabs project-menu-area">
                            <li role="presentation" class="text-center cursor active" style="width:33%"><a ng-click="vm.initProjectTaskList()">목록</a></li>
                            <li role="presentation" class="text-center cursor" style="width:34%"><a ui-sref="my-project-functions.history({projectId : vm.project.id, id : vm.project.id, project : vm.project})">히스토리</a></li>
                            <li role="presentation" class="text-center cursor" style="width:33%"><a ui-sref="my-project-functions.file({projectId : vm.project.id, id : vm.project.id, project : vm.project})">파일</a></li>
                        </ul>
                    </div>

                    <div style="clear: both;margin-top:3px;margin-bottom:3px;">
                        <div class="pull-right">
                            <!--<ol class="nya-bs-select " ng-model="vm.orderType" style="width: 90px;">-->
                                <!--<li nya-bs-option="option in vm.orderTypes" title="{{option.name}}" data-value="option.id">-->
                                    <!--<a>-->
                                        <!--{{ option.name }}-->
                                        <!--<span class="glyphicon glyphicon-ok check-mark"></span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ol>-->
                            <i class="fa fa-search padding-5 cursor" style="font-size: 19px;" ng-click="vm.taskInputFunction('search')"></i>
                        </div>
                        <button class="btn btn-default btn-radius" ng-click="vm.taskInputFunction('add')">작업 생성+</button>
                        <ol class="nya-bs-select " ng-model="vm.statusId" style="width: 90px;">
                            <li nya-bs-option="option in vm.codes" title="{{option.name}}" data-value="option.id">
                                <a>
                                    {{ option.name }}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                    <div ng-show="vm.taskAdd">
                        <input type="text" class="taskAddInput" ng-model="vm.task.name" enter-submit="vm.projectTaskAdd()" style="width: 100%; border-top: 1px solid #ddd" placeholder="생성할 작업명을 입력하세요."/>
                    </div>
                    <div ng-show="vm.taskSearch">
                        <input type="text" class="taskAddInput" ng-model="vm.taskName" enter-submit="vm.findTasks()" style="width: 100%; border-top: 1px solid #ddd" placeholder="검색할 작업명을 입력하세요."/>
                    </div>
                    <div style="clear: both"></div>
                        <div class="table table-bordered table-hover project-task-list-area" when-scrolled="vm.getTaskListInProject()" style="margin-bottom: 0; border-bottom: 1px solid #ddd; overflow: hidden; overflow-y: auto; border-top:1px solid #ddd;" loading="taskScroll.loading">
                            <div class="task-area" dynamic-content-scroll area-type="project-list">
                                <div ng-repeat="data in vm.tasks" class="task-repeat" ui-sref="my-project.taskDetail({taskId : data.id, listType : vm.listType, projectId : vm.project.id})" task-active>
                                    <div class="wms-tree-node-list task-list clear-both cursor-important" ng-class="data.statusId == 1 ? 'blue' : (data.statusId == 2 ? 'green' : (data.statusId == 3 ? 'black' : 'red'))"
                                         ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">

                                        <div class="task-list-item-header">
                                            <div class="pull-right">
                                                <div>
                                                    <i class="fa fa-hourglass-end" style="padding: 2px; color:red;" ng-if="data.delayYn"></i>
                                                    <i class="icon-append glyphicon glyphicon-retweet" ng-if="data.taskRepeatSchedule.repeatType != '' && data.taskRepeatSchedule != null " style="padding: 2px;"></i>
                                                    <span ng-class="data.delayYn ? 'delay-color' : ''">{{data.endDate | date : 'MM-dd'}}</span>
                                                </div>
                                            </div>
                                            <i class="fa fa-exclamation-circle float-left" style="padding:5px 2px; color:red;" ng-if="data.importantYn"></i>
                                            <div class="task-list-title-length task-list-title">
                                                <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active tooltip-placement="top-left" uib-tooltip="{{data.name}}">{{data.name}} </a>
                                            </div>
                                            <span class="fa fa-paperclip float-left" style="padding:5px 2px;" ng-if="data.attachedFileExistYn"></span>
                                            <span class="fa fa-lock float-left" style="padding:5px 5px 5px 2px;" ng-if="data.privateYn"></span>
                                            <ul class="list-inline friends-list" style="margin-bottom: 0">
                                                <li ng-repeat="user in data.assignees | limitTo:3">
                                                    <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                </li>
                                                <li ng-if="data.assignees.length > 3" class="position-relative">
                                                <span common-popup-toggle>
                                                    <span class="activity">
                                                        <a class="position-relative"><i class="fa fa-plus user-profile-plus-btn"></i> <b class="badge bg-color-red user-count-icon">{{data.assignees.length - 3}}</b></a>
                                                    </span>
                                                </span>
                                                    <div class="other-users-popup">
                                                        <ul class="" style="margin-bottom: 0">
                                                            <li class="clear-both" ng-repeat="user in data.assignees | limitTo:99:3">
                                                                <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                                <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                                {{user.name}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                            <span class="clear-both"></span>
                                        </div>

                                        <div class="task-list-item-footer">
                                            <div class="pull-right position-relative">
                                                <div>
                                                    <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                                </div>
                                            </div>

                                            <div class="task-project-list-area">
                                                <span class="task-project-icon" ng-class="project.folderYn ? 'folder': ''" ng-repeat="project in data.taskProjects track by $index">{{project.name}}</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="no-data" ng-if="vm.tasks.length == 0">
                                    데이터가 없습니다.
                                </div>
                            </div>
                        </div>
                </uib-accordion>
                </div>
            </bg-pane>

            <bg-pane min-size="800">
                <div ui-view="projectDetail" style="height: 100%;"></div>
            </bg-pane>

        </bg-splitter>
    </div>

</div>



























