<div class="well" style="overflow-y: auto; background-color: #fff;">

    <div ng-repeat="task in vm.tasks track by $index" ng-init="taskIndex = $index">
        <!-- 작업 타이틀&사용자 아이콘 -->
        <div style=" margin-bottom: 15px;">
            <a ng-click="vm.taskHistoryOpen($index, task.id, task.historyArea)" class="project-history-title"><i class="fa " ng-class="task.historyArea ? 'fa-minus' : 'fa-plus'"></i> {{task.name}}   </a>

            <ul class="list-inline friends-list" style="margin-bottom: 0">
                <li ng-repeat="user in task.assignees | limitTo:3">
                    <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}">
                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}">
                </li>
                <li ng-if="task.assignees.length > 3">
                    <a href-void>
                        <span class="activity">
                            <a><i class="fa fa-plus" style="font-size: 22px; position: relative; top: 5px;"></i><b class="badge bg-color-red" style="position: absolute;">{{task.assignees.length - 3}}</b></a>
                        </span>
                    </a>
                </li>
            </ul>

            <div class="project-history-info clear-both">
                일정 : <span ng-if="task.startDate == '' && task.endDate == ''">미정</span><span ng-if="task.startDate != '' || task.endDate != ''">{{task.startDate | date : 'yyyy-MM-dd'}} ~ {{task.endDate | date : 'yyyy-MM-dd'}}</span>, 담당자 : <span ng-repeat="user in task.assignees"> {{user.name}}</span>
            </div>
        </div>

        <!-- 히스토리 영역 -->
        <div ng-if="task.historyArea">

            <!-- Timeline Content -->
            <div class="smart-timeline">
                <ul class="smart-timeline-list">
                    <!-- 로그 보기 -->
                    <li ng-repeat="data in task.TaskAuditLog.data" ng-if="!vm.commentViewType">
                        <div class="smart-timeline-icon" ng-if="(task.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (task.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')">
                            {{task.TaskAuditLog.data[$index].createdDate | date : 'MM/dd'}}
                        </div>
                        <div class="smart-timeline-content">

                            <ul class="list-inline friends-list float-left comment-user-profile"
                                ng-if="task.TaskAuditLog.data[$index].createdBy != task.TaskAuditLog.data[$index-1].createdBy
                            || (task.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (task.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                                ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (task.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (task.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                                <li>
                                    <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                                </li>
                            </ul>

                            <p ng-if="task.TaskAuditLog.data[$index].createdBy != task.TaskAuditLog.data[$index-1].createdBy
                            || (task.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (task.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                               ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (task.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (task.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                                <a href-void><strong>{{data.createdByName}}</strong> </a><a editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</a>
                            </p>

                            <div class="pad-l15">

                                <!-- 댓글 영역 -->
                                <div ng-if="data.entityField == 'reply'" class="pad-l10  clear-both">

                                    <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px"></span> {{data.createdDate | date : 'HH:mm'}} <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                                    <br class="clear-both"/>
                                    <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                        <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                                    </p>
                                </div>

                                <!-- 시스템 영역 -->
                                <div ng-if="data.entityField != 'reply'" class="pad-l10 clear-both" >

                                    <span translate="audit.entity.task" ng-if="data.entityField == null || data.entityField == ''">엔티티</span>
                                    <span translate="audit.field.task.{{data.entityField}}" ng-if="(data.entityField != null && data.entityField != '') && data.entityField != 'taskUsers'">필드</span>
                                    <span translate="audit.field.task.{{data.etcValue}}"  ng-if="(data.entityField != null && data.entityField != '') && data.entityField == 'taskUsers'">필드</span>
                                    <span translate="audit.persist-type.{{data.persistType}}">유형</span>
                                <span ng-if="data.entityField != 'taskAttachedFiles' && data.entityField != 'taskRepeatSchedule' && data.entityField != 'contents'">
                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        <span ng-if="data.entityField == 'importantYn'">
                                            <span ng-if="data.newValue == 'true'">
                                                활성
                                            </span>
                                            <span ng-if="data.newValue == 'false'">
                                                비활성
                                            </span>
                                        </span>
                                        <span ng-if="data.entityField != 'importantYn'">
                                            {{data.newValue}}
                                        </span>
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                <span ng-if="data.entityField == 'taskAttachedFiles' && data.entityField != 'taskRepeatSchedule' && data.entityField != 'contents'">

                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        <i class="fa fa-paperclip"></i>
                                        <a ng-click="vm.fileDownLoad(data.attachedFileId)">{{data.newValue}}</a>
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                    {{data.createdDate | date : 'HH:mm'}}
                                    <br class="clear-both"/>

                                    <!--{{data.createdBy}} 이 {{data.entityField}} {{data.newValue}}를 {{data.persistType}}하였습니다. {{data.createdDate | date : 'HH:mm'}}-->
                                    <!--<br/>-->
                                    <!--<p ng-repeat="file in data.attachedFiles" class="pad-l20">-->
                                    <!--<a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>-->
                                    <!--</p>-->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- END Timeline Content -->

            <!-- 댓글 입력 영역 -->
            <div class="row comment-area" style="border-top: 1px solid #ddd; padding-top: 10px;">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-1">
                            <a ng-click="vm.commentFileAreaOpen = !vm.commentFileAreaOpen">
                                <i class="fa fa-paperclip pull-right" style="font-size: 30px; margin-top: 6px"></i>
                            </a>

                        </div>
                        <div class="col-md-11">
                            <summernote ng-model="vm.comment.contents" on-init="init()" on-enter="enter()" on-focus="focus(evt)" config="dataService.getSummerNoteOptions(false)"
                                        on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" contenteditable="true"
                                        on-keydown="keydown(evt)" on-change="change(contents)"
                                        editable="editable" editor="editor" lang="ko-KR">
                            </summernote>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn_icon btn_customs" ng-click="vm.createComment(task.id, $index)" owl-btn-save></button>
                </div>
            </div><!-- 댓글 입력 영역 끝 -->

            <!-- 댓글 파일첨부 영역 (수정중 ng-repeat 시 오류 현상)-->
            <div class="task-file-area" ng-class="vm.commentFileAreaOpen ? 'on' : ''">
                <wms-add-file-element></wms-add-file-element>
            </div><!-- 댓글 파일첨부 영역 끝-->

        </div><!-- 히스토리 영역 끝-->

        </div>

    </div>
</div>
<script>
    $("#input-5").fileinput({
        showCaption: false, showUpload: false, uploadUrl:"1", uploadAsync: false
    });
</script>
