<div class="well" style="overflow-y: auto; background-color: #fff;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9">
                <!--<i class="fa fa-exclamation-circle task-circle" ng-class="vm.project.importantYn ? 'on' : ''" ng-click="vm.project.importantYn = !vm.project.importantYn"></i>-->
                <input type="text" class="taskAddInput" ng-model="vm.project.name" enter-submit="vm.projectUpload()" placeholder="Task"/>
            </div>
            <div class="col-md-3">
                <span class="pull-right taskOptionBtnArea">
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-link"></i>
                    </span>
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="viewTypeClass task-detail" style="margin-top: 10px; min-height: 500px">


        <!-- 상태 변경/등록일 -->
        <div class="row" style="padding: 4px;">
            <div class="col-md-9">
                <div class="pull-left">
                    <!-- 프로젝트/폴더 선택 -->
                    <div id="projectPickerSection" style="float:left;">
                        <label for="addProject" class="cursor projectValueSection" ><i class="fa fa-plus" id="addProject"></i> <span project-picker-edit-toggle>프로젝트/폴더 추가</span></label>
                        &nbsp;
                        <div class="project-picker projectPickerSection">
                            <div style="width: 300px;">
                                <div style="width: 300px;">
                                    <div class="project-picker-search">
                                        <input class="project-picker-search-input" type="text" ng-model="projectName" enter-submit="vm.FindProjectList()"
                                               placeholder="프로젝트 또는 폴더를 선택하세요." wms-kr-update>
                                    </div>
                                    <div class="project-picker-list-area">
                                        <div class="project-picker-list">
                                            <div data-ng-repeat="project in vm.projectList">
                                                <div class="project-picker-list-item" ng-click="vm.project.parentProjectIds = project.id">
                                                    <div>
                                                        <div class="project-picker-list-item-title">{{project.name}}</div>
                                                        <div class="project-picker-list-item-path" >
                                                            <div>
                                                                <span ng-repeat="projectParent in project.projectParents track by $index">
                                                                    <span ng-if="$index != 0">, </span>
                                                                    [{{projectParent.name}}]
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task-project" ng-repeat="project in vm.project.projectParents">
                        {{project.name}}
                        <i class="fa fa-close" ng-click="vm.projectRemove(project.id)"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right" style="margin-top: 14px;">
                    <span class="task-create-date"><span class="task-create-date-text">{{vm.project.createdByName}} </span> {{ (vm.project.createdDate | date:"yyyy-MM-dd HH:mm") || 'empty' }}</span>
                </div>
            </div>
        </div>



        <!-- task 상태, 담당자, 참조자 선택 영역 -->
        <div class="task-options-area task-status-user-aera">
            <table class="table table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="23%">
                    <col width="5%">
                    <col width="15%">
                    <col width="5%">
                    <col width="5%">
                    <col width="5%">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        관리자
                    </td>
                    <td>
                        <autocomplete source="findUsers" tags="vm.project.projectAdmins" display-property="name" multiple="true" max-results-to-show="20" tag-type="projectAdminIds"></autocomplete>
                    </td>
                    <td>
                        공유
                    </td>
                    <td colspan="3">
                        <autocomplete source="findUsers" tags="vm.project.projectUsers" display-property="name" multiple="true" max-results-to-show="20" tag-type="projectUserIds"></autocomplete>
                    </td>
                    <td rowspan="2" ng-if="vm.project.folderYn == false">
                        <i class="fa fa-paperclip" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen" style="font-size: 25px"></i>
                    </td>
                    <td rowspan="1" ng-if="vm.project.folderYn == true">
                        <i class="fa fa-paperclip" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen" style="font-size: 25px"></i>
                    </td>
                </tr>
                <tr ng-show="!vm.project.folderYn">
                    <td>
                        시작일
                    </td>
                    <td>
                        <div class="">
                            <p class="input-group">
                                <input type="text" class="form-control startDate" edit-state="true" ui-mask="9999-99-99" uib-datepicker-popup="yyyyMMdd" ng-model="vm.dueDateFrom.date" is-open="vm.dueDateFrom.open"
                                       datepicker-options="vm.dueDateFrom.datepickerOptions" close-text="Close" style="border: 0px none;"/>
                                          <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDateFrom')" style="border: 0px none; box-shadow: none;"><i class="fa fa-calendar"></i></button>
                                          </span>
                                <i class="fa fa-close date-close-btn" ng-click="vm.dueDateFrom.date = ''"></i>
                            </p>
                        </div>
                    </td>
                    <td>
                        종료일
                    </td>
                    <td>
                        <div class="">
                            <p class="input-group">
                                <input type="text" class="form-control" ui-mask="9999-99-99" uib-datepicker-popup="yyyyMMdd" ng-model="vm.dueDateTo.date" is-open="vm.dueDateTo.open"
                                       datepicker-options="vm.dueDateTo.datepickerOptions" close-text="Close" style="border: 0px none;"/>
                                      <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDateTo')" style="border: 0px none; box-shadow: none;"><i class="fa fa-calendar"></i></button>
                                      </span>
                                <i class="fa fa-close date-close-btn" ng-click="vm.dueDateTo.date = ''"></i>
                            </p>
                        </div>
                    </td>
                    <td>
                        상태
                    </td>
                    <td style="border-right-width : 1px">
                        <wms-select-box
                            ng-model="vm.codes"
                            selected-value="vm.project.statusId"
                            dataSize="5"
                            dataLiveSearch="false"
                        ></wms-select-box>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div>
            <div class="panel panel-default min-height-100-p detail-content" id="editingSection">
                <div class="ibox">
                    <div class="ibox_content elementSection"  section-toggle style="min-height: 30px">
                        <span ng-bind-html="vm.renderHtml(vm.project.contents)"></span>
                    </div>

                    <div class="content-edit editingSection" >
                        <summernote config="dataService.getSummerNoteOptions(true)"
                                    lang="ko-KR" ng-model="vm.project.contents"
                                    data-editor="editor"
                                    data-editable="editable"
                                    data-on-image-upload="imageUpload(files)"></summernote>
                    </div>
                </div>
            </div>
        </div>

        <div class="task-file-area" ng-class="(vm.fileAreaOpen || vm.previewFiles.length > 0) ? 'on' : ''">
            <div class="file-header-area">
                <ul>
                    <li>파일 ({{vm.previewFiles.length}})</li>
                    <li><i class="fa fa-download"></i></li>
                    <li><label for="input-4" class="cursor"><i class='fa fa-paperclip'></i></label></li>
                    <li><i class="fa fa-list" ng-click="vm.fileListYn = !vm.fileListYn" file-list-yn></i></li>
                    <li><i class="fa fa-trash"></i></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <input id="input-4" name="input4[]" type="file" multiple class="file-loading" get-files><br/>
            <wms-table ng-model="vm.previewFiles" table-configs="vm.tableConfigs" update-callback="updateCallback" ng-show="vm.fileListYn"></wms-table>
            <style>
                .fileinput-upload {
                    display: none !important;
                }
                .btn-file{
                    display: none !important;
                }
            </style>
        </div>

        <!-- Timeline Content -->
        <div class="smart-timeline">
            <a ng-click="vm.commentViewType = !vm.commentViewType">댓글만 보기({{vm.commentList.length}})</a>
            <ul class="smart-timeline-list">

                <!-- 로그&댓글 보기 -->
                <li ng-repeat="data in vm.TaskAuditLog.data" ng-if="!vm.commentViewType">
                    <div class="smart-timeline-icon" ng-if="(vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')">
                        {{vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd'}}
                    </div>
                    <div class="smart-timeline-content">

                        <ul class="list-inline friends-list float-left comment-user-profile"
                            ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                            ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <li>
                                <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                            </li>
                        </ul>

                        <p ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                           ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <a href-void><strong>{{data.createdByName}}</strong> </a><a editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</a>
                        </p>
                        <div class="pad-l15">

                            <!-- 댓글 영역 -->
                            <div ng-if="data.entityField == 'reply'" class="pad-l10  clear-both">

                                <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px"></span> {{data.createdDate | date : 'HH:mm'}} <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                                <br class="clear-both"/>
                                <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                    <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                                </p>
                            </div>

                            <!-- 시스템 영역 -->
                            <div ng-if="data.entityField != 'reply'" class="pad-l10 clear-both" >

                                <span translate="audit.entity.project" ng-if="data.entityField == null || data.entityField == ''">엔티티</span>
                                <span translate="audit.field.project.{{data.entityField}}" ng-if="(data.entityField != null && data.entityField != '') && data.entityField != 'projectUsers'">필드</span>
                                <span translate="audit.field.project.{{data.etcValue}}"  ng-if="(data.entityField != null && data.entityField != '') && data.entityField == 'projectUsers'">필드</span>
                                <span translate="audit.persist-type.{{data.persistType}}">유형</span>
                                <span ng-if="data.entityField != 'projectAttachedFiles' && data.entityField != 'contents'">
                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        {{data.newValue}}
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                <span ng-if="data.entityField == 'projectAttachedFiles' && data.entityField != 'contents'">

                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        <i class="fa fa-paperclip"></i>
                                        <a ng-click="vm.fileDownLoad(data.attachedFileId)">{{data.newValue}}</a>
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                {{data.createdDate | date : 'HH:mm'}}
                                <br class="clear-both"/>

                                <!--{{data.createdBy}} 이 {{data.entityField}} {{data.newValue}}를 {{data.persistType}}하였습니다. {{data.createdDate | date : 'HH:mm'}}-->
                                <!--<br/>-->
                                <!--<p ng-repeat="file in data.attachedFiles" class="pad-l20">-->
                                    <!--<a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>-->
                                <!--</p>-->
                            </div>
                        </div>
                    </div>
                </li>

                <!-- 댓글만 보기 -->
                <li ng-repeat="data in vm.commentList" ng-if="vm.commentViewType">
                    <div class="smart-timeline-icon" ng-if="(vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')
                    ">
                        {{vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd'}}
                    </div>
                    <div class="smart-timeline-content">

                        <ul class="list-inline friends-list float-left comment-user-profile"
                            ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                            ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <li>
                                <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                            </li>
                        </ul>

                        <p ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                           ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <a href-void><strong>{{data.createdByName}}</strong> </a><a editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</a>
                        </p>
                        <div class="pad-l15 clear-both">
                            <div ng-if="data.entityField == 'reply'" class="pad-l10">
                                <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px"></span>
                                {{data.createdDate | date : 'HH:mm'}} <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                                <br class="clear-both"/>
                                <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                    <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- END Timeline Content -->

        <div class="row comment-area">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-1">
                        <a ng-click="vm.commentFileAreaOpen = !vm.commentFileAreaOpen">
                            <i class="fa fa-paperclip pull-right" style="font-size: 30px; margin-top: 6px"></i>
                        </a>

                    </div>
                    <div class="col-md-11">
                        <summernote ng-model="vm.comment.contents" on-init="init()" on-enter="enter()" on-focus="focus(evt)" config="dataService.getSummerNoteOptions(false)"
                                    on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" contenteditable="true"
                                    on-keydown="keydown(evt)" on-change="change(contents)"
                                    editable="editable" editor="editor" lang="ko-KR">
                        </summernote>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn_icon btn_customs" ng-click="vm.createComment()" owl-btn-save></button>
            </div>
        </div>
        <div class="task-file-area" ng-class="vm.commentFileAreaOpen ? 'on' : ''">
            <input id="input-5" name="input5[]" type="file" multiple class="file-loading" get-files file-type="comment">
        </div>


    </div>
</div>


<script>

</script>
