<div class="well task-detail-area" dynamic-content-scroll area-type="detail">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9">
                <!--<i class="fa fa-exclamation-circle task-circle" ng-class="vm.project.importantYn ? 'on' : ''" ng-click="vm.project.importantYn = !vm.project.importantYn"></i>-->
                <input type="text" class="taskAddInput" maxlength="30" ng-model="vm.project.name" enter-submit="vm.projectUpload()" placeholder="Task" wms-kr-update/>
            </div>
            <div class="col-md-3">
                <span class="pull-right taskOptionBtnArea">
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-link"></i>
                    </span>
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="viewTypeClass task-detail" style="margin-top: 10px; min-height: 500px">


        <!-- 상태 변경/등록일 -->
        <div class="row" style="padding: 4px;">
            <div class="col-md-9">
                <div class="pull-left">
                    <!-- 프로젝트/폴더 선택 -->
                    <div id="projectPickerSection" style="float:left;">
                        <label for="addProject" class="cursor projectValueSection" ng-if="vm.project.adminYn"><i class="fa fa-plus" id="addProject"></i> <span project-picker-edit-toggle>상위 프로젝트</span></label>
                        &nbsp;
                        <div class="project-picker projectPickerSection">
                            <div style="width: 300px;">
                                <div style="width: 300px;">
                                    <div class="project-picker-search">
                                        <input class="project-picker-search-input" type="text" ng-model="projectName" enter-submit="vm.FindProjectList()"
                                               placeholder="프로젝트를 선택하세요." wms-kr-update>
                                    </div>
                                    <div class="project-picker-list-area">
                                        <div class="project-picker-list">
                                            <div data-ng-repeat="project in vm.projectList">
                                                <div class="project-picker-list-item" ng-click="vm.project.parentProjectIds = project.id">
                                                    <div>
                                                        <div class="project-picker-list-item-title">{{project.name}}</div>
                                                        <div class="project-picker-list-item-path" >
                                                            <div>
                                                                <span ng-repeat="projectParent in project.projectParents track by $index">
                                                                    <span ng-if="$index != 0">, </span>
                                                                    [{{projectParent.name}}]
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task-project" ng-repeat="project in vm.project.projectParents">
                        {{project.name}}
                        <i class="fa fa-close" ng-click="vm.projectRemove(project.id)"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right" style="margin-top: 14px;">
                    <span class="task-create-date">{{ (vm.project.createdDate | date:"yyyy.MM.dd") || '' }}</span>
                </div>
            </div>
        </div>



        <!-- task 상태, 담당자, 공유자 선택 영역 -->
        <div class="task-options-area task-status-user-aera">
            <table class="table table-bordered">
                <colgroup>
                    <col width="60px">
                    <col width="180px">
                    <col width="60px">
                    <col width="180px">
                    <col width="60px">
                    <col ng-if="!vm.project.folderYn"width="80px">
                    <col ng-if="vm.project.folderYn" width="130px">
                    <col width="130px">
                    <col ng-if="vm.project.folderYn" width="130px">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        관리자
                    </td>
                    <td colspan="4">
                        <autocomplete template-url="ngTagsInput/tag-item-user.html" source="findUsers" tags="vm.project.projectAdmins" display-property="id" multiple="true"
                                      max-results-to-show="20" tag-type="projectAdminIds" modify-yn="{{vm.project.adminYn}}" project-yn="false"></autocomplete>
                    </td>
                    <!--<td>-->
                        <!--공유-->
                    <!--</td>-->
                    <!--<td colspan="3">-->
                        <!--<autocomplete template-url="ngTagsInput/tag-item-user.html" source="findUsers" tags="vm.project.projectUsers" display-property="name" multiple="true" max-results-to-show="20" tag-type="projectUserIds"></autocomplete>-->
                    <!--</td>-->
                    <!--<td rowspan="2" ng-if="vm.project.folderYn == false">-->
                        <!--<i class="fa fa-paperclip" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen" style="font-size: 25px"></i>-->
                    <!--</td>-->
                    <!--<td rowspan="1" ng-if="vm.project.folderYn == true">-->
                        <!--<i class="fa fa-paperclip" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen" style="font-size: 25px"></i>-->
                    <!--</td>-->
                    <td style="position: relative;">

                        <div class='row watcher-picker-info'>
                            <div class='col-md-4 padding-10' style='border-right:1px solid #ddd; height: 100%;'>
                                <img ng-src='/api/attachedFile/{{watcherInfo.profileImageId}}' ng-if='watcherInfo.profileImageId !=null' />
                                <img ng-src='/content/images/demo/male.png' ng-if='watcherInfo.profileImageId ==null' />
                            </div>
                            <div class='col-md-8 padding-10' style='height: 100%;'>
                                <i class="fa fa-close cursor pull-right" ng-click="vm.profileClose()"></i>
                                <ul>
                                    <li>{{watcherInfo.name}}</li>
                                    <li>{{watcherInfo.phone}}</li>
                                    <li>{{watcherInfo.email}}</li>
                                </ul>
                            </div>
                        </div>

                        <label for="watcher" class="cursor btn-none" style="margin-bottom: 0px;" ng-show="!vm.project.adminYn && vm.project.projectMembers.length == 0"><i class="fa fa-users"></i> 맴버 {{vm.project.projectMembers.length == 0 ? '' : vm.project.projectMembers.length}}</label>
                        <label for="watcher" class="cursor" style="margin-bottom: 0px;" ng-show="vm.project.adminYn || vm.project.projectMembers.length != 0" common-popup-toggle><span id="member"><i class="fa fa-users"></i> 맴버 {{vm.project.projectMembers.length == 0 ? '' : vm.project.projectMembers.length}}</span></label>

                        <!-- 맴버 검색 및 등록 팝업 -->
                        <div class="member-popup-area text-left" ng-class="vm.project.adminYn ? '' : 'noAdmin'">
                            <div class="member-popup-header">
                                <span class="pull-right fa fa-close cursor" ng-click="vm.commonPopupClose()"></span>
                                맴버 추가
                            </div>
                            <div class="row" ng-class="vm.project.adminYn? '' : 'margin-left-0'">
                                <div class="col-md-6 padding-right-0" style="border-right: 1px solid #ddd; min-height: 219px;" ng-show="vm.project.adminYn">
                                    <div class="member-input-area" ng-if="vm.project.adminYn">
                                        <input type="text" class="form-control member-input" ng-model="vm.memberName" style="border-right: 0; border-left:0;"  placeholder="이름을 입력하세요." wms-kr-update wms-element-arrow-keys-move element-add="vm.memberAdd"/>
                                    </div>
                                    <div class="member-search-list-area watcher-search-list-area" ng-if="vm.project.adminYn">
                                        <div>
                                            <div ng-repeat="data in vm.memberList track by $index" class="arrow-event-li" data-id="{{data.id}}" value="{{data.id}}" ng-class="$index == 0 ? 'start-arrow active' : ''">
                                                <div class="member-search-element cursor arrow-event-li" ng-click="vm.memberAdd(data)">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                                            <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div>{{data.name}}</div>
                                                            <div>{{data.email}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="vm.watcherList.length == 0">
                                            일치하는 사용자가 없습니다.
                                        </div>
                                    </div>
                                </div>
                                <div class="padding-left-0" ng-class="vm.project.adminYn ? 'col-md-6' : 'col-md-12'">

                                    <div class="member-input-area member-input-area-border">
                                        <div class="pull-right" ng-click="vm.memberSearchYn = !vm.memberSearchYn">
                                            <i class="fa fa-search cursor"></i>
                                        </div>
                                        맴버 {{vm.project.projectMembers.length}}명
                                    </div>

                                    <div class="member-input-area" ng-if="vm.memberSearchYn">
                                        <input type="text" class="form-control member-input" ng-model="vm.memberFilter" style="border-right: 0; border-left:0; border-top:0;"  placeholder="이름을 입력하세요." wms-kr-update/>
                                    </div>

                                    <div class="member-list-area" ng-class="vm.memberSearchYn ? 'on' : ''">
                                        <div ng-repeat="data in vm.project.projectMembers | filter:vm.memberFilter track by $index" class="member-list-items">
                                            <div class="member-element" ng-class="data.currentYn ? 'current' : ''">
                                                <div class="row">
                                                    <div class="col-md-2 watcher-item" ng-click="vm.watcherInfoAdd(data)">
                                                        <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}" watcher-info-btn-toggle>
                                                        <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}" watcher-info-btn-toggle>
                                                    </div>
                                                    <div class="col-md-10 position-relative">
                                                        <div class="pull-right" ng-show="vm.project.adminYn">
                                                            <i class="fa fa-close cursor" ng-click="vm.removeMember(data)" style="position: absolute; top: 10px; right: 14px;"></i>
                                                        </div>
                                                        <div>{{data.name}}</div>
                                                        <div>{{data.email}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 맴버 정보 팝업 -->
                                            <div class='row watcher-picker-info'>
                                                <div class='col-md-4 padding-10' style='border-right:1px solid #ddd; height: 100%;'>
                                                    <img ng-src='/api/attachedFile/{{watcherInfo.profileImageId}}' ng-if='watcherInfo.profileImageId !=null' />
                                                    <img ng-src='/content/images/demo/male.png' ng-if='watcherInfo.profileImageId ==null' />
                                                </div>
                                                <div class='col-md-8 padding-10' style='height: 100%;'>
                                                    <i class="fa fa-close cursor pull-right" ng-click="vm.profileClose()"></i>
                                                    <ul>
                                                        <li>{{watcherInfo.name}}</li>
                                                        <li>{{watcherInfo.phone}}</li>
                                                        <li>{{watcherInfo.email}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="vm.watcherList.length == 0">
                                            일치하는 사용자가 없습니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- 맴버 검색 및 등록 팝업 end -->

                    </td>

                    <td style="position: relative;">

                        <label for="watcher" class="cursor btn-none" style="margin-bottom: 0px;" ng-show="!vm.project.adminYn && vm.project.projectWatchers.length == 0"><span id="watcher"><i class="fa fa-user"></i> 공유자 {{vm.project.projectWatchers.length == 0 ? '' : vm.project.projectWatchers.length}}</span></label>
                        <label for="watcher" class="cursor" style="margin-bottom: 0px;"  ng-show="vm.project.adminYn || vm.project.projectWatchers.length != 0" ng-click="vm.getCurrentWatchers()" watcher-picker-btn-toggle><span id="watcher"><i class="fa fa-user"></i> 공유자 {{vm.project.projectWatchers.length == 0 ? '' : vm.project.projectWatchers.length}}</span></label>

                        <!-- 공유자 검색 및 등록 팝업 -->
                        <div class="watcher-popup-area text-left">
                            <div class="padding-5 watcher-popup-header">
                                <span class="pull-right fa fa-close cursor" ng-click="vm.watcherPopupClose()"></span>
                                공유자
                            </div>
                            <div class="watcher-list-area padding-10" ng-show="vm.project.projectWatchers.length > 0">
                                <ul class="list-inline friends-list" style="margin-bottom: 0">
                                    <li class="watcher-item" ng-repeat="user in vm.project.projectWatchers" style="position: relative; margin: 0 3px 3px;" ng-click="vm.watcherInfoAdd(user)" wms-close-btn-display>
                                        <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" watcher-info-btn-toggle>
                                        <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" watcher-info-btn-toggle>
                                        <span class="profile-close-btn close-btn cursor" ng-click="vm.removeWatcher(user)" ng-if="vm.project.adminYn"><i class="fa fa-close"></i></span>
                                    </li>
                                </ul>

                                <!-- 공유자 정보 팝업 -->
                                <div class='row watcher-picker-info'>
                                    <div class='col-md-4 padding-10' style='border-right:1px solid #ddd; height: 100%;'>
                                        <img ng-src='/api/attachedFile/{{watcherInfo.profileImageId}}' ng-if='watcherInfo.profileImageId !=null' />
                                        <img ng-src='/content/images/demo/male.png' ng-if='watcherInfo.profileImageId ==null' />
                                    </div>
                                    <div class='col-md-8 padding-10' style='height: 100%;'>
                                        <i class="fa fa-close cursor pull-right" ng-click="vm.profileClose()"></i>
                                        <ul>
                                            <li>{{watcherInfo.name}}</li>
                                            <li>{{watcherInfo.phone}}</li>
                                            <li>{{watcherInfo.email}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="watcher-input-area" ng-if="vm.project.adminYn">
                                <input type="text" class="form-control watcher-input" input-value="vm.watcherName" ng-model="vm.watcherName" style="border-right: 0; border-left:0;"  placeholder="이름을 입력하세요." maxlength="20" wms-kr-update wms-element-arrow-keys-move element-add="vm.watcherAdd"/>
                            </div>
                            <div class="watcher-search-list-area padding-5" ng-if="vm.project.adminYn">
                                <div>
                                    <div ng-repeat="data in vm.watcherList track by $index" class="arrow-event-li" data-id="{{data.id}}" value="{{data.id}}" ng-class="$index == 0 ? 'start-arrow active' : ''">
                                        <div class="watcher-search-element cursor arrow-event-li" ng-click="vm.watcherAdd(data)">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                                                </div>
                                                <div class="col-md-10">
                                                    <div>{{data.name}}</div>
                                                    <div>{{data.email}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="vm.watcherList.length == 0">
                                    일치하는 사용자가 없습니다.
                                </div>
                            </div>
                        </div><!-- 공유자 검색 및 등록 팝업 end -->

                    </td>

                    <td ng-if="vm.project.folderYn == true">
                        <label class="margin-bottom-0" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen"><i class="fa fa-paperclip"></i> 파일 첨부 {{vm.previewFiles.length == 0 ? '' : vm.previewFiles.length}}</label>
                    </td>
                </tr>
                <tr ng-show="!vm.project.folderYn">
                    <td>
                        시작일
                    </td>
                    <td>
                        <div class="">
                            <p class="input-group" wms-close-btn-display>
                                <input type="text" class="form-control startDate" edit-state="true" ui-mask="9999-99-99" uib-datepicker-popup="yyyyMMdd" ng-model="vm.dueDateFrom.date" is-open="vm.dueDateFrom.open"
                                       datepicker-options="vm.dueDateFrom.datepickerOptions" close-text="Close" style="border: 0px none;" ng-show="vm.project.adminYn"/>
                                <span ng-show="!vm.project.adminYn">
                                    {{vm.dueDateFrom.date | date : 'yyyy-MM-dd'}}
                                </span>
                                          <span class="input-group-btn" ng-show="vm.project.adminYn">
                                              <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDateFrom')" style="border: 0px none; box-shadow: none;"><i class="fa fa-calendar"></i></button>
                                          </span>
                                <i class="fa fa-close date-close-btn close-btn" ng-click="vm.dueDateFrom.date = ''" ng-show="vm.dueDateFrom.date != null && vm.project.adminYn "></i>
                            </p>
                        </div>
                    </td>
                    <td>
                        종료일
                    </td>
                    <td>
                        <div class="">
                            <p class="input-group" wms-close-btn-display>
                                <input type="text" class="form-control" ui-mask="9999-99-99" uib-datepicker-popup="yyyyMMdd" ng-model="vm.dueDateTo.date" is-open="vm.dueDateTo.open"
                                       datepicker-options="vm.dueDateTo.datepickerOptions" close-text="Close" style="border: 0px none;" ng-show="vm.project.adminYn"/>
                                <span ng-show="!vm.project.adminYn">
                                    {{vm.dueDateTo.date | date : 'yyyy-MM-dd'}}
                                </span>
                                  <span class="input-group-btn" ng-show="vm.project.adminYn">
                                      <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDateTo')" style="border: 0px none; box-shadow: none;"><i class="fa fa-calendar"></i></button>
                                  </span>
                                <i class="fa fa-close date-close-btn close-btn" ng-click="vm.dueDateTo.date = ''" ng-show="vm.dueDateTo.date != null && vm.project.adminYn"></i>
                            </p>
                        </div>
                    </td>
                    <td>
                        상태
                    </td>
                    <td style="border-right-width : 1px">
                        <ol class="nya-bs-select task-openYn-select" ng-model="vm.project.statusId" style="width: 90px;" disabled="!vm.project.adminYn">
                            <li nya-bs-option="option in vm.codes track by $index" title="{{option.name}}" data-value="option.id">
                                <a>
                                    {{ option.name }}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </td>
                    <td>
                        <label class="margin-bottom-0" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen" ng-show="vm.project.adminYn"><i class="fa fa-paperclip"></i> 파일 첨부 {{vm.previewFiles.length == 0 ? '' : vm.previewFiles.length}}</label>
                        <label class="btn-none margin-bottom-0" ng-show="!vm.project.adminYn"><i class="fa fa-paperclip"></i> 파일 첨부 {{vm.previewFiles.length == 0 ? '' : vm.previewFiles.length}}</label>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div>
            <div class="panel panel-default min-height-100-p detail-content" id="editingSection">
                <div class="ibox">

                    <div class="ibox_content elementSection" ng-if="vm.project.adminYn" section-toggle style="min-height: 50px; word-break: break-all;">
                        <span ng-bind-html="vm.renderHtml(vm.project.contents)" ></span>
                    </div>
                    <div class="ibox_content elementSection" ng-if="!vm.project.adminYn" style="min-height: 50px; word-break: break-all;">
                        <span ng-bind-html="vm.renderHtml(vm.project.contents)" ></span>
                    </div>

                    <div class="content-edit editingSection" >
                        <div id="issueEdit" ng-controller="uploadCtrl">
                            <summernote config="dataService.getSummerNoteOptions(true)"
                                        lang="ko-KR" ng-model="vm.project.contents"
                                        data-editor="editor"
                                        data-editable="editable"
                                        data-on-image-upload="imageUpload(files)"></summernote>
                        </div>

                    </div>
                </div>
            </div>
            <div style="text-align: right;">
                <button type="button" class="btn" ng-click="vm.projectRevertModalOpen()" ng-if="vm.project.adminYn" >복원</button>
            </div>
        </div>

        <div class="task-file-area" ng-class="(vm.fileAreaOpen || vm.previewFiles.length > 0) ? 'on' : ''">
            <div class="file-header-area">
                <ul>
                    <li>파일 ({{vm.previewFiles.length}})</li>
                    <li ng-if="vm.fileListYn" ng-click="vm.downloadFiles()"><i class="fa fa-download"></i></li>
                    <li ng-if="vm.project.adminYn"><label for="input-4" class="cursor"><i class='fa fa-paperclip'></i></label></li>
                    <li><i class="fa fa-list" ng-click="vm.fileListYn = !vm.fileListYn" file-list-yn></i></li>
                    <li ng-if="vm.fileListYn && vm.project.adminYn" ng-click="vm.filesRemove()"><i class="fa fa-trash"></i></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <input id="input-4" name="input4[]" type="file" multiple class="file-loading" get-files><br/>
            <wms-table ng-model="vm.previewFiles" table-configs="vm.tableConfigs" update-callback="updateCallback" ng-if="vm.fileListYn"></wms-table>
            <style>
                .fileinput-upload {
                    display: none !important;
                }
                .btn-file{
                    display: none !important;
                }
            </style>
        </div>

        <!-- Timeline Content -->
        <div class="smart-timeline">
            <div style="display: inline-table; width: 100%;"><a class="pull-right" ng-click="vm.commentViewType = !vm.commentViewType" ng-show="vm.commentList.length > 0">{{vm.commentViewType ? '히스토리&댓글 보기' : '댓글만 보기'}} ({{vm.commentViewType ? vm.TaskAuditLog.data.length : vm.commentList.length }})</a></div>
            <ul class="smart-timeline-list">

                <!-- 로그&댓글 보기 -->
                <li ng-repeat="data in vm.TaskAuditLog.data" ng-if="!vm.commentViewType">

                    <div class="comment-header-area">
                        <div class="smart-timeline-icon" ng-if="(vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')">
                            {{vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd'}}
                        </div>
                        <div class="smart-timeline-content">

                            <ul class="list-inline friends-list float-left comment-user-profile"
                                ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                                ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                                <li>
                                    <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                                </li>
                            </ul>

                            <p ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                               ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                                <a href-void><strong>{{data.createdByName}}</strong> </a><a class="comment-mention-btn" editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</a>
                            </p>
                        </div>
                    </div>

                    <div class="pad-l123 comment-content-area">

                        <!-- 댓글 영역 -->
                        <div ng-if="data.entityField == 'reply'" class="pad-l10  clear-both">

                            <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px" ng-if="data.newValue != ''"></span>
                            <span style="float: left; margin-right: 5px" ng-if="data.newValue == ''">파일첨부</span>
                            <span class="comment-created-date">&nbsp;&nbsp;{{data.createdDate | date : 'HH:mm'}}</span> <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                            <br class="clear-both"/>
                            <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                            </p>
                        </div>

                        <!-- 시스템 영역 -->
                        <div ng-if="data.entityField != 'reply'" class="pad-l10 clear-both" >

                            <span translate="audit.entity.project" ng-if="data.entityField == null || data.entityField == ''">엔티티</span>
                            <span translate="audit.field.project.{{data.entityField}}" ng-if="(data.entityField != null && data.entityField != '') && data.entityField != 'projectUsers'">필드</span>
                            <span translate="audit.field.project.{{data.etcValue}}"  ng-if="(data.entityField != null && data.entityField != '') && data.entityField == 'projectUsers'">필드</span>
                            <span translate="audit.persist-type.{{data.persistType}}">유형</span>
                                <span ng-if="data.entityField != 'projectAttachedFiles' && data.entityField != 'contents'">
                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        {{data.newValue}}
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                <span ng-if="data.entityField == 'projectAttachedFiles' && data.entityField != 'contents'">

                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        <i class="fa fa-paperclip"></i>
                                        <a ng-click="vm.fileDownLoad(data.attachedFileId)">{{data.newValue}}</a>
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                            <span class="comment-created-date">&nbsp;&nbsp;{{data.createdDate | date : 'HH:mm'}}</span>
                            <br class="clear-both"/>

                            <!--{{data.createdBy}} 이 {{data.entityField}} {{data.newValue}}를 {{data.persistType}}하였습니다. {{data.createdDate | date : 'HH:mm'}}-->
                            <!--<br/>-->
                            <!--<p ng-repeat="file in data.attachedFiles" class="pad-l20">-->
                            <!--<a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>-->
                            <!--</p>-->
                        </div>
                    </div>
                </li>

                <!-- 댓글만 보기 -->
                <li ng-repeat="data in vm.commentList" ng-if="vm.commentViewType">

                    <div class="comment-header-area">
                        <div class="smart-timeline-icon" ng-if="(vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')">
                            {{vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd'}}
                        </div>
                        <div class="smart-timeline-content">

                            <ul class="list-inline friends-list float-left comment-user-profile"
                                ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                                ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                                <li>
                                    <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                                </li>
                            </ul>

                            <p ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                               ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                                <a href-void><strong>{{data.createdByName}}</strong> </a><a class="comment-mention-btn" editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</a>
                            </p>
                        </div>
                    </div>

                    <div class="pad-l123 comment-content-area">
                        <div ng-if="data.entityField == 'reply'" class="pad-l10 clear-both">
                            <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px" ng-if="data.newValue != ''"></span>
                            <span style="float: left; margin-right: 5px" ng-if="data.newValue == ''">파일첨부</span>
                            <span class="comment-created-date">&nbsp;&nbsp;{{data.createdDate | date : 'HH:mm'}}</span> <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                            <br class="clear-both"/>
                            <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                            </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- END Timeline Content -->
    </div>
</div>

<!-- 댓글 입력 영역 -->
<div class="comment-areas">
    <div class="comment-area">
        <table class="table comment-table margin-bottom-0">
            <colgroup>
                <col width="20px">
                <col width="*">
                <col width="60px">
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <label for="input-5" class="cursor"><i class='fa fa-paperclip'></i></label>
                </td>
                <td>
                    <summernote ng-model="vm.comment.contents" on-init="init()" on-enter="enter()" on-focus="focus(evt)" config="dataService.getSummerNoteOptions(false)"
                                on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" contenteditable="true"
                                on-keydown="keydown(evt)" on-change="change(contents)"
                                editable="editable" editor="editor" lang="ko-KR">
                    </summernote>
                </td>
                <td>
                    <button type="button" class="btn btn_icon btn_customs" ng-click="vm.createComment()" owl-btn-save></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="task-file-area" ng-class="vm.commentFileAreaOpen ? 'on' : ''">
        <input id="input-5" name="input5[]" type="file" multiple class="file-loading" get-files file-type="comment" data-show-preview="false">
    </div>
</div>

<style>
    .btn-sm {
        padding: 4px 7px 5px;
    }
</style>

