<div class="input-group">
    <input type="text"
           name="datePicker"
           class="form-control"
           ui-mask="{{datePickerModel.option.maskFormat}}"
           uib-datepicker-popup="{{datePickerModel.option.dateFormat}}"
           ng-model="date"
           is-open="datePickerModel.open"
           datepicker-options="datePickerModel.option"
           close-text="Close"/>
    <span ng-if="datePickerModel.useCalendar == null || datePickerModel.useCalendar" class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="openCalendar()">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>
