<div class="wmsKanban">
    <ul dnd-list="boardList"
        dnd-allowed-types="['list']"
        class="ng-scope">
        <li
            ng-repeat="list in boardList"
            dnd-draggable="list"
            dnd-type="'list'"
            dnd-effect-allowed="copyMove"
            dnd-moved="boardList.splice($index, 1)"
            class=" container-element box box-blue ng-scope"
            ng-style="{ 'width' : (100/boardList.length)+'%'}">
            <div class="wmsKanbanItem pad0 panel panel-info">
                <div class="panel-heading listHeader">
                    <h3 dnd-handle="" draggable="true"  class="panel-title ng-binding"><a href="#" editable-text="list.label" buttons="no">{{ list.label || "empty" }}</a></h3>
                    <span type="button" class="glyphicon glyphicon-sort-by-alphabet" ng-click="sortKanbanCards(list)"></span>
                    <span type="button" class="glyphicon glyphicon-plus" ng-click="addKanbanCards($index)"></span>
                    <!--<span type="button" class="glyphicon glyphicon-retweet" ng-click="changeListView()"></span>-->
                    <span type="button" class="glyphicon glyphicon-remove" ng-click="removeKanbanList($index)"></span>
                </div>
                <div class="drop-zone panel-body ng-scope">
                    <ul
                        dnd-list="list.tasks"
                        dnd-allowed-types="['item']"
                        dnd-horizontal-list="true"
                        dnd-external-sources="true"
                        class="itemlist ng-scope"
                        ng-if="viewType == 'card'">
                        <li
                            ng-repeat="task in list.tasks"
                            dnd-draggable="task"
                            dnd-type="'item'"
                            dnd-effect-allowed="copyMove"
                            dnd-moved="list.tasks.splice($index, 1);">
                            <span><a href="#" editable-text="task.name" buttons="no">{{ task.name || "empty" }}</a></span>
                            <span class="glyphicon glyphicon-remove pull-right" ng-click="removeCard(list, task)"></span>
                        </li>
                        <li class="dndPlaceholder"></li>
                    </ul>
                </div>
            </div>
            <div class="vertical-middle text-center wmsKanbanItemAdd">
                <span type="button" class="glyphicon glyphicon-plus" ng-show="boardList.length != ($index+1)" ng-click="addKanbanList($index)"></span>
            </div>
        </li>
    </ul>
</div>
