
<div class="container-fluid">
    <h2><span translate="wmsApp.task.detail.title">Task</span> {{vm.task.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <!-- 탭부분 -->
    <div class="col-md-12 mgt10 slideBody">
        <i class="fa fa-chevron-right fa-3x cursor float-right slideBtnArea"
           style="right: 0;" slide-scroll-right></i>
        <i class="fa fa-chevron-left fa-3x cursor float-left slideBtnArea"
           slide-scroll-left></i>
        <div class="slideMenu">
            <ul class="nav nav-tabs">
                <li ng-class="vm.tabArea[0].status == true ? 'active' : ''" ng-click="vm.tabDisplay(0)"><span translate="">요약정보</span></li>
                <li ng-class="vm.tabArea[1].status == true ? 'active' : ''" ng-click="vm.tabDisplay(1)"><span translate="">Audit log</span></li>
            </ul>
        </div>
    </div>

    <!-- 상세 정보영역 -->
    <div class="col-md-12" ng-show="vm.tabArea[0].status">
        <div class="panel panel-default">
            <div class="ibox">
                <div class="ibox_content">
                    <div ng-repeat="summary in summaryConfigs" class="detail-info-area">
                        <div class="row">

                            <!-- 태스크 명 -->
                            <div class="col-md-6" ng-if="summary[0].key == 'name'">
                                <div class="row">
                                    <div class=" col-md-6" ng-show="summary[0].name != ''" translate="{{ summary[0].name }}"></div>
                                    <div class="col-md-6" ng-show="summary[0].name != '' && !summary[0].renderer">
                                        <a editable-text="vm.task.name" buttons="no"> {{ vm.responseData[summary[0].key] }}</a>
                                    </div>
                                    <div class="col-md-6" ng-show="summary[0].name != '' && summary[0].renderer">
                                        <owl-custom-renderer index="0" property="{{summary[0].renderer}}"></owl-custom-renderer>
                                    </div>
                                </div>
                            </div>

                            <!-- 중요도 -->
                            <div class="col-md-6" ng-if="summary[0].key == 'severityName'">
                                <div class="row">
                                    <div class=" col-md-6" ng-show="summary[0].name != ''" translate="{{ summary[0].name }}"></div>
                                    <div class="col-md-6" ng-show="summary[0].name != '' && !summary[0].renderer">
                                        <a editable-select="vm.task.severityId" e-ng-options="s.id as s.name for s in vm.code" buttons="no">
                                            {{ vm.showStatus(vm.task.severityId) }}
                                        </a>
                                    </div>
                                    <div class="col-md-6" ng-show="summary[0].name != '' && summary[0].renderer">
                                        <owl-custom-renderer index="0" property="{{summary[0].renderer}}"></owl-custom-renderer>
                                    </div>
                                </div>
                            </div>

                            <!-- 종료날짜 -->
                            <div class="col-md-6" ng-if="summary[1].key == 'dueDate'">
                                <div class="row">
                                    <div class=" col-md-6" ng-show="summary[1].name != ''" translate="{{ summary[1].name }}"></div>
                                    <div class="col-md-6" ng-show="summary[1].name != '' && !summary[1].renderer" id="editSection">
                                        <a picker-toggle>{{ (vm.responseData[summary[1].key] | date:"yyyy-MM-dd HH:mm") || 'empty' }}</a>
                                        <div class="input-group editSection">
                                            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" edit-state="true" ng-model="vm.responseData.dueDate" is-open="vm.dueDate.open" id="field_dueDate" enter-submit="vm.save()"/>
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDate')"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-show="summary[1].name != '' && summary[1].renderer">
                                        <owl-custom-renderer index="0" property="{{summary[1].renderer}}"></owl-custom-renderer>
                                    </div>
                                </div>
                            </div>

                        <!-- 담당자 -->
                        <div class="col-md-6" ng-if="summary[1].key == 'assigneeName'">
                            <div class="row">
                                <div class=" col-md-6" ng-show="summary[1].name != ''" translate="{{ summary[1].name }}"></div>
                                <div class="col-md-6" ng-show="summary[1].name != '' && !summary[1].renderer">
                                    <a ng-click="vm.assigneeEditing()" ng-show="vm.assigneeEditingConfig">{{vm.task.assigneeName}}</a>
                                    <div ng-show="!vm.assigneeEditingConfig">

                                        <picker-search source="vm.userLoad(vm.responseData.assigneeName, vm.assigneeUsers)"
                                                       search="vm.responseData.assigneeName"
                                                       ng-model="vm.assigneeUsers"></picker-search>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-show="summary[1].name != '' && summary[1].renderer">
                                    <owl-custom-renderer index="0" property="{{summary[1].renderer}}"></owl-custom-renderer>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{vm.responseData}}
    <br/>
    {{vm.task}}
    <!-- 설명영역 -->
    <div class="col-md-12" ng-show="vm.tabArea[0].status">
        <h4>내용</h4>
        <div class="panel panel-default min-height-100-p detail-content" id="editingSection">
            <div class="ibox">
                <div class="ibox_content elementSection">
                    <span ng-bind-html="vm.renderHtml(vm.responseData.contents)" section-toggle class-name="contentSection"></span>
                </div>

                <div class="content-edit editingSection" >
                    <summernote config="dataService.getSummerNoteOptions(true)"
                                lang="ko-KR" ng-model="vm.task.contents"
                                data-editor="editor"
                                data-editable="editable"
                                data-on-image-upload="imageUpload(files)"></summernote>
                </div>
            </div>
        </div>
    </div>

    <!-- 파일 목록 및 겔러리 -->
    <div class="col-md-12"  ng-show="vm.tabArea[0].status">
        <h4>첨부파일</h4>
        <div class="panel panel-default col-md-12 voffset-bottom0">
                <i class="fa fa-chevron-right fa-3x cursor float-right galleryBtnArea" ng-show="vm.images.length > 0"
                   style="right: 10px;" scroll-right></i>
                <i class="fa fa-chevron-left fa-3x cursor float-left galleryBtnArea" ng-show="vm.images.length > 0"
                   scroll-left></i>
                <div class="IssueGallery float-left" style="">
                    <ng-gallery images="vm.images" thumbs-num="10">
                    </ng-gallery>
                </div>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center thbrl_no width-200-p">
                        <span translate="common.attachedFile.fileName">파일 명</span>
                    </th>
                    <th class="text-center width-160-p"><span translate="common.attachedFile.fileType">파일 타입</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.task.attachedFiles">
                    <td class="width-200-p">
                            <span style="color:#428bca; cursor:pointer; white-space: normal;"
                                  class="btn btn-blue btn-sm" ng-click="downloadFile(file)">{{file.attachedFile.name}}</span> <!-- ng-click="downloadFile(file)" -->
                    </td>
                    <td class="width-160-p">{{file.attachedFile.contentType}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Audit Log List - 변경 내역 -->
    <div class="col-md-12" ng-show="vm.tabArea[1].status">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center thbrl_no width-10"><span translate="">필드 명</span></th>
                    <th class="text-center thbrl_no width-10"><span translate="">액션</span></th>
                    <th class="text-center thbrl_no width-40"><span translate="">변경 전</span></th>
                    <th class="text-center thbrl_no width-40"><span translate="">변경 후</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="log in vm.TaskAuditLog.data track by log.id">
                    <td class="width-200-p text-center"><span translate="wmsApp.task.{{log.entityField}}" ng-show="log.entityField != ''">field</span></td>
                    <td class="width-200-p text-center" translate="entity.action.{{log.persistType}}">persist type</td>
                    <td class="width-200-p" ng-if="log.entityField == 'contents'"><span ng-bind-html="vm.renderHtml(log.oldValue)"></span></td>
                    <td class="width-200-p" ng-if="log.entityField != 'contents'">{{log.oldValue}}</td>
                    <td class="width-200-p" ng-if="log.entityField == 'contents'"><span ng-bind-html="vm.renderHtml(log.newValue)"></span></td>
                    <td class="width-200-p" ng-if="log.entityField != 'contents'">{{log.newValue}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <button type="submit"
                onclick="window.history.back()"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
