<div>
    <h2 translate="wmsApp.task.home.title">Tasks</h2>
    <div class="container-fluid">
        <div class="row no-padding-left">
            <div class="col-xs-12 no-padding-right">
                <button class="btn btn-primary pull-right" ui-sref="task.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="wmsApp.task.home.createLabel">
                        Create new Task
                    </span>
                </button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid voffset3">
        <div class="row panel panel-default pad20">
            <!-- 구간검색 -->
            <!--{{vm.searchQuery}}-->
            <div class="col-xs-12 no-padding-right">
                <form name="searchForm" class="form-inline searchForm">
                    <div class="input-group pull-right" >
                        <div class="form-group">
                            <label class="control-label">태스크</label>
                            <div class="">
                                <p class="input-group">
                                    <input type="text" class="form-control col-xs-2" ng-model="vm.searchQuery.name" id="searchQuery" placeholder="{{ 'wmsApp.task.home.search' | translate }}">
                                </p>
                            </div>
                        </div>

                        <div class="form-group" id="editSection">
                            <label class="control-label">구간 검색</label>
                            <div class="">
                                <p class="input-group">
                                    <input type="text" class="form-control col-xs-2"  ng-model="vm.dueDate" id="dueDate" picker-toggle>
                                    <span class="dueDateValues" picker-toggle>{{vm.searchQuery.dueDateFrom + " ~ " + vm.searchQuery.dueDateTo}}</span>
                                </p>
                            </div>
                            <div class="editSection" >
                                <div class="title">
                                    구간검색
                                </div>
                                <div class="pickerArea">

                                    <label class="control-label">시작일</label>
                                    <div class="">
                                        <p class="input-group">
                                            <input type="text" class="form-control startDate" edit-state="true" ui-mask="9999-99-99" uib-datepicker-popup="yyyyMMdd" ng-model="vm.dueDateFrom.date" is-open="vm.dueDateFrom.open"
                                                   datepicker-options="vm.dueDateFrom.datepickerOptions" close-text="Close" />
                                            <!--<input type="text" class="form-control startDate" datetime-picker="yyyy-MM-dd" ng-model="vm.dueDateFrom.date" is-open="vm.dueDateFrom.open" datepicker-popup="yyyyMMdd"-->
                                                   <!--enable-time="false" datepicker-options="vm.dueDateFrom.datepickerOptions" />-->
                                      <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDateFrom')"><i class="fa fa-calendar"></i></button>
                                      </span>
                                        </p>
                                    </div>

                                    <label class="control-label">종료일</label>
                                    <div class="">
                                        <p class="input-group">
                                            <input type="text" class="form-control" ui-mask="9999-99-99" uib-datepicker-popup="yyyyMMdd" ng-model="vm.dueDateTo.date" is-open="vm.dueDateTo.open"
                                                   datepicker-options="vm.dueDateTo.datepickerOptions" close-text="Close" />
                                            <!--<input type="text" class="form-control" datetime-picker="yyyy-dd-MM" ng-model="vm.dueDateTo.date" is-open="vm.dueDateTo.open"-->
                                                   <!--enable-time="false" datepicker-options="vm.dueDateTo.datepickerOptions" />-->
                                      <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDateTo')"><i class="fa fa-calendar"></i></button>
                                      </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">중요도</label>
                            <div class="">
                                <ol class="nya-bs-select col-xs-2" ng-model="vm.searchQuery.severities" actions-box="true" multiple data-size="5" data-live-search="true" disabled="disable">
                                    <li nya-bs-option="option in vm.code" data-value="option.id">
                                        <a>
                                            <span><span class="glyphicon" ng-class="option.icon"></span> {{ option.name }}</span>
                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">담당자</label>
                                <picker-search source="vm.userLoad(vm.searchData.assigneeName, vm.assigneeUsers)"
                                                   search="vm.searchData.assigneeName"
                                                   ng-model="vm.assigneeUsers"></picker-search>
                        </div>


                        <br/>

                        <!-- 검색 영역 -->
                        <!--<span  class="input-group-btn width-min" >-->
                            <!--<button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">-->
                                <!--<span class="glyphicon glyphicon-search">엘라스틱서치</span>-->
                            <!--</button>-->
                        <!--</span>-->
                        <!-- 검색 영역 -->
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-search" ng-click="vm.getList()" owl-btn-search>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding-right">
                <button class="btn btn_icon btn_color4 pull-right" owl-btn-remove ng-click="vm.removeTasks()">
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive voffset3">

        <ng-include src="'app/components/common/smartBody.html'"></ng-include>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.getList()"></uib-pagination>
        <!--<uib-pagination boundary-links="true" items-per-page="selectedPageRowCount" total-items="responseData.page.totalCount" ng-model="selectedPage" max-size="10" ng-click="getList(selectedPage-1)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>-->
    </div>
</div>
