
<form name="editForm" class="editForm" role="form" novalidate ng-submit="vm.save()" >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLabel" translate="wmsApp.task.home.createOrEditLabel">Create or edit a Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.task.name" for="field_name" >Name</label>
            <input type="hidden" class="form-control" id="id" name="id" ng-model="vm.task.id" readonly />
            <div class="input-group">
                <input type="text" class="form-control" name="name" id="field_name" enter-submit="vm.save()"
                       ng-model="vm.task.name" required
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="vm.taskFindSimilar()">
                        <span class="glyphicon glyphicon-search"> 유사 태스크 검색</span>
                    </button>
                </span>
            </div>
            <div class="error ng-hide" ng-show="editForm.name.$invalid &amp;&amp; editForm.name.$dirty">
                <p class="help-block" ng-show="editForm.name.$error.required" class="ng-hide" translate="태스크 명을 입력하세요.">
                    태스크 명을 입력하세요.
                </p>
            </div>
            <table class="table table-bordered voffset2" ng-show="vm.similarTasks.length > 0">
                <thead>
                <tr>
                    <th class="text-center thbrl_no width-200-p">
                        <span translate="wmsApp.task.name">태스크 명</span>
                    </th>
                    <th class="text-center width-160-p"><span translate="global.assignee">담당자</span>
                    </th>
                    <th class="text-center width-60-p"><span translate="wmsApp.task.dueDate">Due Date</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in vm.similarTasks">
                    <td class="width-200-p">{{task.name}}</td>
                    <td class="text-center width-160-p">{{task.assigneeName}}</td>
                    <td class="text-center width-60-p">{{task.dueDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label class="control-label" translate="wmsApp.task.dueDate" for="field_dueDate">Due Date</label>
            <p class="input-group width-220-p">
                <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="vm.dueDate.date" is-open="vm.dueDate.open" id="field_dueDate" value="{{vm.dueDate.date}}" enter-submit="vm.save()"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'dueDate')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <label class="control-label">중요도</label>
            <div class="">
                <ol class="nya-bs-select " ng-model="vm.task.severityId">
                    <li nya-bs-option="option in vm.codes" title="{{option.name}}" data-value="option.id">
                        <a>
                            {{ option.name }}
                            <span class="glyphicon glyphicon-ok check-mark"></span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="form-group">
            <label translate="global.assignee">담당자</label>
            <select class="form-control" id="field_assignee" name="assignee" ng-model="vm.task.assigneeId" ng-options="user.id as user.name for user in vm.assigneeUsers" >
                <option value=""></option>
            </select>
            <!--<picker-search source="vm.userLoad(vm.task.assigneeName, vm.assigneeUsers)"-->
                           <!--search="vm.task.assigneeName"-->
                           <!--ng-model="vm.assigneeUsers"></picker-search>-->
        </div>
        <div class="form-group" > <!-- ng-controller="uploadCtrl" -->
            <label class="control-label" translate="wmsApp.task.contents">Contents</label>
            <!--<input type="text" class="form-control" name="contents" id="field_contents"-->
                    <!--ng-model="vm.task.contents"-->
                     <!--/>-->
            <summernote config="dataService.getSummerNoteOptions(true)"
                        lang="ko-KR" ng-model="vm.task.contents"
                        data-editor="editor"
                        data-editable="editable"
                        data-on-image-upload="imageUpload(files)"></summernote>
        </div>
        <div class="form-group">
            <label translate="wmsApp.task.taskAttachedFiles">Task Attached Files</label>
            <!--<select class="form-control" id="field_taskAttachedFiles" name="taskAttachedFiles" ng-model="vm.task.taskAttachedFilesId" ng-options="taskAttachedFile.id as taskAttachedFile.id for taskAttachedFile in vm.task.attachedFiles"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
            <table class="table table-bordered" ng-show="vm.task.attachedFiles.length > 0">
                <thead>
                <tr>
                    <th class="text-center thbrl_no width-200-p">
                        <span translate="common.attachedFile.fileName">파일 명</span>
                    </th>
                    <th class="text-center width-160-p"><span translate="common.attachedFile.fileType">파일 타입</span>
                    </th>
                    <th class="text-center width-60-p"><span
                        translate="common.attachedFile.config">설정</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.task.attachedFiles">
                    <td class="width-200-p">
                        <span style="color:#428bca; cursor:pointer; white-space: normal;"
                        class="btn btn-blue btn-sm">{{file.attachedFile.name}}</span> <!-- ng-click="downloadFile(file)" -->
                    </td>
                    <td class="text-center width-160-p">{{file.attachedFile.contentType}}</td>
                    <td class="text-center width-60-p">
                        <button type='button' class='btn'
                                ng-click='vm.fileRemove(file, $index)' owl-btn-delete>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <input id="input-4" name="input4[]" type="file" multiple class="file-loading" get-files>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" id="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
<script>
    $("#input-4").fileinput({showCaption: false, showUpload: false, uploadUrl:"1", uploadAsync: false});
</script>
