<div ng-controller="myProjectTaskListCtrl as vm">
    <div style="width : 100%; position: relative; min-height: 272px; max-height: 272px;">
        <div class="row clear-both" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="row">
                    <div class="col-md-3" style="padding-right: 0">
                        <div class="widget-project-list-area">
                            <wms-select-box
                                ng-model="vm.projectList"
                                selected-value="vm.projectId"
                                dataSize="5"
                                dataLiveSearch="false"
                                select-box-size="100%"
                            ></wms-select-box>
                        </div>
                    </div>
                    <div class="col-md-9" style="padding-left: 0">
                        <ul class="nav nav-tabs ">
                            <li role="presentation" class="text-center cursor" ng-class="vm.taskType == 'ASSIGNED' ? 'active' : ''" style="width:33%"><a ng-click="vm.taskTypeChange('ASSIGNED')"><i class="fa fa-list"></i>담당자 {{vm.task.assignedTasks.length}}</a></li>
                            <li role="presentation" class="text-center cursor" ng-class="vm.taskType == 'CREATED' ? 'active' : ''" style="width:34%"><a ng-click="vm.taskTypeChange('CREATED')"><i class="fa fa-check-square-o"></i>요청한 {{vm.task.createdTasks.length}}</a></li>
                            <li role="presentation" class="text-center cursor" ng-class="vm.taskType == 'WATCHED' ? 'active' : ''" style="width:33%"><a ng-click="vm.taskTypeChange('WATCHED')"><i class="fa fa-eye"></i>공유 {{vm.task.watchedTasks.length}}</a></li>
                            <!--<li class="text-center"><span ng-class="vm.taskType == 'ASSIGNED' ? 'active' : ''"  ng-click="vm.taskTypeChange('ASSIGNED')"><i class="fa fa-list"></i>담당자 {{vm.task.assignedTasks.length}}</span></li>-->
                            <!--<li class="text-center"><span ng-class="vm.taskType == 'CREATED' ? 'active' : ''" ng-click="vm.taskTypeChange('CREATED')"><i class="fa fa-check-square-o"></i>요청한 {{vm.task.createdTasks.length}}</span></li>-->
                            <!--<li class="text-center"><span ng-class="vm.taskType == 'WATCHED' ? 'active' : ''" ng-click="vm.taskTypeChange('WATCHED')"><i class="fa fa-eye"></i>공유 {{vm.task.watchedTasks.length}}</span></li>-->
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu project-list" >
                    <div class="list-group">
                        <a class="list-group-item active text-center" ng-class="vm.listType == 'TODAY' ? 'active' : ''" ng-click="vm.getTodayTask('TODAY')">
                            <!--<h4 class="glyphicon glyphicon-time"></h4><br/>-->
                            오늘
                        </a>
                        <a class="list-group-item text-center"ng-class="vm.listType == 'TOMORROW' ? 'active' : ''"  ng-click="vm.getTodayTask('TOMORROW')">
                            <!--<h4 class="glyphicon glyphicon-road"></h4><br/>-->
                            내일
                        </a>
                        <a class="list-group-item text-center" ng-class="vm.listType == 'THIS_WEEK' ? 'active' : ''" ng-click="vm.getTodayTask('THIS_WEEK')">
                            <!--<h4 class="glyphicon glyphicon-home"></h4><br/>-->
                            이번주
                        </a>
                        <a class="list-group-item text-center" ng-class="vm.listType == 'SCHEDULED' ? 'active' : ''" ng-click="vm.getTodayTask('SCHEDULED')">
                            <!--<h4 class="glyphicon glyphicon-cutlery"></h4><br/>-->
                            예정
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab" >

                    <!-- ASSIGNED search -->
                    <div class="bhoechie-tab-content" ng-show=" vm.taskType == 'ASSIGNED'">
                        <div ng-repeat="data in vm.task.assignedTasks" class="task-repeat" ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active>
                            <div class="wms-tree-node-list task-list clear-both cursor-important" style="padding:6px;border-right:0px; border-left:0px;" ng-class="data.statusId == 1 ? 'blue' : (data.statusId == 2 ? 'green' : (data.statusId == 3 ? 'black' : 'red'))"
                                 ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">

                                <div class="task-list-item-header">
                                    <div class="pull-right">
                                        <div>
                                            <i class="fa fa-hourglass-end" style="padding: 2px; color:red;" ng-if="data.delayYn"></i>
                                            <i class="icon-append glyphicon glyphicon-retweet" ng-if="data.taskRepeatSchedule.repeatType != '' && data.taskRepeatSchedule != null " style="padding: 2px;"></i>
                                            <span ng-class="data.delayYn ? 'delay-color' : ''">{{data.endDate | date : 'MM-dd'}}</span>
                                        </div>
                                    </div>
                                    <i class="fa fa-exclamation-circle float-left" style="padding:5px 2px; color:red;" ng-if="data.importantYn"></i>
                                    <div class="task-list-title-length task-list-title">
                                        <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active tooltip-placement="top-left" uib-tooltip="{{data.name}}">{{data.name}} </a>
                                    </div>
                                    <span class="fa fa-paperclip float-left" style="padding:5px 2px;" ng-if="data.attachedFileExistYn"></span>
                                    <span class="fa fa-lock float-left" style="padding:5px 5px 5px 2px;" ng-if="data.privateYn"></span>
                                    <ul class="list-inline friends-list" style="margin-bottom: 0">
                                        <li ng-repeat="user in data.assignees | limitTo:3">
                                            <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                            <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                        </li>
                                        <li ng-if="data.assignees.length > 3" class="position-relative">
                                            <span common-popup-toggle>
                                                <span class="activity">
                                                    <a class="position-relative"><i class="fa fa-plus user-profile-plus-btn"></i> <b class="badge bg-color-red user-count-icon">{{data.assignees.length - 3}}</b></a>
                                                </span>
                                            </span>
                                            <div class="other-users-popup">
                                                <ul class="" style="margin-bottom: 0">
                                                    <li class="clear-both" ng-repeat="user in data.assignees | limitTo:99:3">
                                                        <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                        <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                        {{user.name}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="clear-both"></span>
                                </div>

                                <div class="task-list-item-footer">
                                    <div class="pull-right position-relative">
                                        <div>
                                            <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                        </div>
                                    </div>

                                    <div class="task-project-list-area">
                                        <span class="task-project-icon" ng-class="project.folderYn ? 'folder': ''" ng-repeat="project in data.taskProjects track by $index">{{project.name}}</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- CREATED -->
                    <div class="bhoechie-tab-content" ng-show=" vm.taskType == 'CREATED'">

                        <div ng-repeat="data in vm.task.createdTasks" class="task-repeat" ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active>
                            <div class="wms-tree-node-list task-list clear-both cursor-important" style="padding:6px; border-right:0px; border-left:0px;" ng-class="data.statusId == 1 ? 'blue' : (data.statusId == 2 ? 'green' : (data.statusId == 3 ? 'black' : 'red'))"
                                 ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">

                                <div class="task-list-item-header">
                                    <div class="pull-right">
                                        <div>
                                            <i class="fa fa-hourglass-end" style="padding: 2px; color:red;" ng-if="data.delayYn"></i>
                                            <i class="icon-append glyphicon glyphicon-retweet" ng-if="data.taskRepeatSchedule.repeatType != '' && data.taskRepeatSchedule != null " style="padding: 2px;"></i>
                                            <span ng-class="data.delayYn ? 'delay-color' : ''">{{data.endDate | date : 'MM-dd'}}</span>
                                        </div>
                                    </div>
                                    <i class="fa fa-exclamation-circle float-left" style="padding:5px 2px; color:red;" ng-if="data.importantYn"></i>
                                    <div class="task-list-title-length task-list-title">
                                        <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active tooltip-placement="top-left" uib-tooltip="{{data.name}}">{{data.name}} </a>
                                    </div>
                                    <span class="fa fa-paperclip float-left" style="padding:5px 2px;" ng-if="data.attachedFileExistYn"></span>
                                    <span class="fa fa-lock float-left" style="padding:5px 5px 5px 2px;" ng-if="data.privateYn"></span>
                                    <ul class="list-inline friends-list" style="margin-bottom: 0">
                                        <li ng-repeat="user in data.assignees | limitTo:3">
                                            <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                            <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                        </li>
                                        <li ng-if="data.assignees.length > 3" class="position-relative">
                                                <span common-popup-toggle>
                                                    <span class="activity">
                                                        <a class="position-relative"><i class="fa fa-plus user-profile-plus-btn"></i> <b class="badge bg-color-red user-count-icon">{{data.assignees.length - 3}}</b></a>
                                                    </span>
                                                </span>
                                            <div class="other-users-popup">
                                                <ul class="" style="margin-bottom: 0">
                                                    <li class="clear-both" ng-repeat="user in data.assignees | limitTo:99:3">
                                                        <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                        <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                        {{user.name}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="clear-both"></span>
                                </div>

                                <div class="task-list-item-footer">
                                    <div class="pull-right position-relative">
                                        <div>
                                            <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                        </div>
                                    </div>

                                    <div class="task-project-list-area">
                                        <span class="task-project-icon" ng-class="project.folderYn ? 'folder': ''" ng-repeat="project in data.taskProjects track by $index">{{project.name}}</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- WATCHED -->
                    <div class="bhoechie-tab-content" ng-show=" vm.taskType == 'WATCHED'">
                        <div ng-repeat="data in vm.task.watchedTasks" class="task-repeat" ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active>
                            <div class="wms-tree-node-list task-list clear-both cursor-important" style="padding:6px; border-right:0px; border-left:0px;" ng-class="data.statusId == 1 ? 'blue' : (data.statusId == 2 ? 'green' : (data.statusId == 3 ? 'black' : 'red'))"
                                 ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">

                                <div class="task-list-item-header">
                                    <div class="pull-right">
                                        <div>
                                            <i class="fa fa-hourglass-end" style="padding: 2px; color:red;" ng-if="data.delayYn"></i>
                                            <i class="icon-append glyphicon glyphicon-retweet" ng-if="data.taskRepeatSchedule.repeatType != '' && data.taskRepeatSchedule != null " style="padding: 2px;"></i>
                                            <span ng-class="data.delayYn ? 'delay-color' : ''">{{data.endDate | date : 'MM-dd'}}</span>
                                        </div>
                                    </div>
                                    <i class="fa fa-exclamation-circle float-left" style="padding:5px 2px; color:red;" ng-if="data.importantYn"></i>
                                    <div class="task-list-title-length task-list-title">
                                        <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})" task-active tooltip-placement="top-left" uib-tooltip="{{data.name}}">{{data.name}} </a>
                                    </div>
                                    <span class="fa fa-paperclip float-left" style="padding:5px 2px;" ng-if="data.attachedFileExistYn"></span>
                                    <span class="fa fa-lock float-left" style="padding:5px 5px 5px 2px;" ng-if="data.privateYn"></span>
                                    <ul class="list-inline friends-list" style="margin-bottom: 0">
                                        <li ng-repeat="user in data.assignees | limitTo:3">
                                            <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                            <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                        </li>
                                        <li ng-if="data.assignees.length > 3" class="position-relative">
                                        <span common-popup-toggle>
                                            <span class="activity">
                                                <a class="position-relative"><i class="fa fa-plus user-profile-plus-btn"></i> <b class="badge bg-color-red user-count-icon">{{data.assignees.length - 3}}</b></a>
                                            </span>
                                        </span>
                                            <div class="other-users-popup">
                                                <ul class="" style="margin-bottom: 0">
                                                    <li class="clear-both" ng-repeat="user in data.assignees | limitTo:99:3">
                                                        <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                        <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">
                                                        {{user.name}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="clear-both"></span>
                                </div>

                                <div class="task-list-item-footer">
                                    <div class="pull-right position-relative">
                                        <div>
                                            <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                        </div>
                                    </div>

                                    <div class="task-project-list-area">
                                        <span class="task-project-icon" ng-class="project.folderYn ? 'folder': ''" ng-repeat="project in data.taskProjects track by $index">{{project.name}}</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
