<div ng-controller="myProjectTaskListCtrl as vm">
    <div style="width : 100%; position: relative; top: -15px;">
        <div class="row clear-both" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="row">
                    <div class="col-md-4" style="padding-right: 0">
                        <div class="widget-project-list-area">
                            <wms-select-box
                                ng-model="vm.projectList"
                                selected-value="vm.projectId"
                                dataSize="5"
                                dataLiveSearch="false"
                            ></wms-select-box>
                        </div>
                    </div>
                    <div class="col-md-8" style="padding-left: 0">
                        <ul class="nav nav-tabs nav-justified my-task-top-menu">
                            <li class="text-center"><span ng-class="vm.taskType == 'ASSIGNED' ? 'active' : ''"  ng-click="vm.taskTypeChange('ASSIGNED')"><i class="fa fa-list"></i>담당자 {{vm.task.assignedTasks.length}}</span></li>
                            <li class="text-center"><span ng-class="vm.taskType == 'CREATED' ? 'active' : ''" ng-click="vm.taskTypeChange('CREATED')"><i class="fa fa-check-square-o"></i>요청한 {{vm.task.createdTasks.length}}</span></li>
                            <li class="text-center"><span ng-class="vm.taskType == 'WATCHED' ? 'active' : ''" ng-click="vm.taskTypeChange('WATCHED')"><i class="fa fa-eye"></i>참조 {{vm.task.watchedTasks.length}}</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu project-list">
                    <div class="list-group">
                        <a class="list-group-item active text-center" ng-class="vm.listType == 'TODAY' ? 'active' : ''" ng-click="vm.getTodayTask('TODAY')">
                            <!--<h4 class="glyphicon glyphicon-time"></h4><br/>-->
                            오늘
                        </a>
                        <a class="list-group-item text-center"ng-class="vm.listType == 'TOMORROW' ? 'active' : ''"  ng-click="vm.getTodayTask('TOMORROW')">
                            <!--<h4 class="glyphicon glyphicon-road"></h4><br/>-->
                            내일
                        </a>
                        <a class="list-group-item text-center" ng-class="vm.listType == 'THIS_WEEK' ? 'active' : ''" ng-click="vm.getTodayTask('THIS_WEEK')">
                            <!--<h4 class="glyphicon glyphicon-home"></h4><br/>-->
                            이번주
                        </a>
                        <a class="list-group-item text-center" ng-class="vm.listType == 'SCHEDULED' ? 'active' : ''" ng-click="vm.getTodayTask('SCHEDULED')">
                            <!--<h4 class="glyphicon glyphicon-cutlery"></h4><br/>-->
                            예정
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">

                    <!-- ASSIGNED search -->
                    <div class="bhoechie-tab-content" ng-show=" vm.taskType == 'ASSIGNED'">
                        <div ng-repeat="data in vm.task.assignedTasks" class="wms-chart-list">
                            <div  class="wms-tree-node-list task-list"
                                  ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
                                <div class="pull-right">
                                    <div>{{data.endDate}}</div>
                                    <div>
                                        <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                    </div>
                                </div>
                                <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})">{{data.name}}</a><span ng-class="node.icon ? node.icon : ''"></span>
                                <i class="fa fa-user"/>
                            </div>
                        </div>
                    </div>
                    <!-- CREATED -->
                    <div class="bhoechie-tab-content" ng-show=" vm.taskType == 'CREATED'">
                        <div ng-repeat="data in vm.task.createdTasks" class="wms-chart-list">
                            <div  class="wms-tree-node-list task-list"
                                  ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
                                <div class="pull-right">
                                    <div>{{data.endDate}}</div>
                                    <div>
                                        <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                    </div>
                                </div>
                                <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})">{{data.name}}</a><span ng-class="node.icon ? node.icon : ''"></span>
                                <i class="fa fa-user"/>
                            </div>
                        </div>
                    </div>

                    <!-- WATCHED -->
                    <div class="bhoechie-tab-content" ng-show=" vm.taskType == 'WATCHED'">
                        <div ng-repeat="data in vm.task.watchedTasks" class="wms-chart-list">
                            <div  class="wms-tree-node-list task-list"
                                  ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
                                <div class="pull-right">
                                    <div>{{data.endDate}}</div>
                                    <div>
                                        <ng-include src="'app/task/html/taskListRightArea.html'"></ng-include>
                                    </div>
                                </div>
                                <a ui-sref="my-task.detail({id : data.id, listType : vm.listType})">{{data.name}}</a><span ng-class="node.icon ? node.icon : ''"></span>
                                <i class="fa fa-user"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
