<!-- 맴버 검색 및 등록 팝업 -->
    <div class="member-popup-header" style="border-bottom: 1px solid #ddd;">
        <span class="pull-right fa fa-close cursor" ng-click="commonPopupClose()"></span>
        <span translate="entity.user.{{type}}"></span> {{users.length}}명
        <span ng-click="memberSearchYn = !memberSearchYn">
            <i class="fa fa-search cursor"></i>
        </span>
    </div>
    <div class="row margin-left-0">
        <div class="padding-left-0 col-md-12">

            <div class="member-input-area" ng-if="memberSearchYn">
                <input type="text" class="form-control member-input" ng-model="vm.memberFilter" style="border-right: 0; border-left:0; border-top:0;"  placeholder="이름을 입력하세요." wms-kr-update/>
            </div>
            <div class="member-list-area watcher-list-area" ng-class="memberSearchYn ? 'on' : ''">
                <div ng-repeat="data in users | filter : vm.memberFilter track by $index" class="member-list-items">
                    <div class="member-element">
                        <div class="row">
                            <div class="col-md-2 watcher-item" ng-click="commonInfoAdd(data)">
                                <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}" watcher-info-btn-toggle>
                                <img ng-src="/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}" watcher-info-btn-toggle>
                            </div>
                            <div class="col-md-10 position-relative">
                                <div>{{data.name}}</div>
                                <div>{{data.email}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- 맴버 정보 팝업 -->
                    <div class='row watcher-picker-info'>
                        <div class='col-md-4 padding-10' style='border-right:1px solid #ddd; height: 100%;'>
                            <img ng-src='/api/attachedFile/{{userInfo.profileImageId}}' ng-if='userInfo.profileImageId !=null' />
                            <img ng-src='/content/images/demo/male.png' ng-if='userInfo.profileImageId ==null' />
                        </div>
                        <div class='col-md-8 padding-10' style='height: 100%;'>
                            <i class="fa fa-close cursor pull-right" ng-click="profileClose()"></i>
                            <ul>
                                <li>{{userInfo.name}}</li>
                                <li>{{userInfo.phone}}</li>
                                <li>{{userInfo.email}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="users.length == 0">
                    일치하는 사용자가 없습니다.
                </div>
            </div>
        </div>
    </div>
<!-- 맴버 검색 및 등록 팝업 end -->
