<div class="well" style="overflow-y: auto; background-color: #fff; height: 98%;">
    <div class="row">
        <div class="col-md-12">
            <div><a ui-sref="my-task.detail({id : vm.task.parent.id, listType : vm.listType})" class="cursor">{{vm.task.parent.name}}</a></div>
            <div class="col-md-9">
                <i class="fa fa-exclamation-circle task-circle" ng-class="vm.task.importantYn ? 'on' : ''" ng-click="vm.task.importantYn = !vm.task.importantYn"></i>
                <input type="text" class="taskAddInput" ng-model="vm.task.name" enter-submit="vm.taskUpload()" placeholder="Task"/>
            </div>
            <div class="col-md-3">
                <span class="pull-right taskOptionBtnArea">
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                    <!--<span class="taskModalBtn" ng-click="taskAddModalOpen()" class="pull-right">-->
                        <!--<i class="fa fa-flag"></i>-->
                    <!--</span>-->
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-link"></i>
                    </span>
                    <span class="taskModalBtn" class="pull-right">
                        <i class="fa fa-print"></i>
                    </span>
                    <span class="taskModalBtn"  class="pull-right">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="viewTypeClass task-detail" style="margin-top: 10px; min-height: 500px">

        <!-- 상태 변경/등록일 -->
        <div class="row" style="padding: 4px;">
            <div class="col-md-9">
                <div class="pull-left">
                    <!-- 프로젝트/폴더 선택 -->
                    <div id="projectPickerSection" style="float:left;">
                        <label for="addProject" class="cursor projectValueSection"><i class="fa fa-plus" id="addProject"></i> <span project-picker-edit-toggle>프로젝트/폴더 선택</span></label>
                        &nbsp;
                        <div class="project-picker projectPickerSection">
                            <div style="width: 300px;">
                                <div style="width: 300px;">
                                    <div class="project-picker-search">
                                        <input class="project-picker-search-input" type="text" ng-model="projectName" enter-submit="vm.FindProjectList()"
                                               placeholder="프로젝트 또는 폴더를 선택하세요."  wms-kr-update>
                                    </div>
                                    <div class="project-picker-list-area">
                                        <div class="project-picker-list">
                                            <div data-ng-repeat="project in vm.projectList">
                                                <div class="project-picker-list-item" ng-click="vm.task.projectIds = project.id">
                                                    <div>
                                                        <div class="project-picker-list-item-title">{{project.name}}</div>
                                                        <div class="project-picker-list-item-path" >
                                                            <div>
                                                                <span ng-repeat="projectParent in project.projectParents track by $index">
                                                                    <span ng-if="$index != 0">, </span>
                                                                    [{{projectParent.name}}]
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="task-project" ng-repeat="project in vm.task.taskProjects">
                        {{project.name}}
                        <i class="fa fa-close cursor" ng-click="vm.projectRemoveInTask(project.id)"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right" style="margin-top: 14px;">
                    <span class="task-create-date"><span class="task-create-date-text">{{vm.task.createdByName}} </span> {{ (vm.task.createdDate | date:"yyyy-MM-dd HH:mm") || 'empty' }}</span>
                </div>
            </div>
        </div>



        <!-- task 상태, 담당자, 참조자 선택 영역 -->
        <div class="task-options-area task-status-user-aera">
            <table class="table table-bordered">
                <colgroup>
                    <col width="40px">
                    <col width="70px">
                    <col width="60px">
                    <col width="35%">
                    <col width="60px">
                    <col width="35%">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="task-list" ng-class="vm.task.statusId == 1 ? 'green' : (vm.task.statusId == 2 ? 'blue' : (vm.task.statusId == 3 ? 'black' : 'red'))">
                            <span class="custom-control custom-checkbox" style="margin-bottom: 0;">
                                <input type="checkbox" ng-click="vm.task.statusId = 2" class="custom-control-input">
                            </span>
                        </td>
                        <td>
                            <wms-select-box
                                ng-model="vm.codes"
                                selected-value="vm.task.statusId"
                                dataSize="5"
                                dataLiveSearch="false"
                            ></wms-select-box>
                        </td>
                        <td>
                            담당자
                        </td>
                        <td>
                            <autocomplete source="findUsers" tags="vm.task.assignees" display-property="name" multiple="true" max-results-to-show="20" tag-type="assignees"></autocomplete>
                        </td>
                        <td>
                            참조
                        </td>
                        <td>
                            <autocomplete source="findUsers" tags="vm.task.watchers" display-property="name" multiple="true" max-results-to-show="20" tag-type="watchers"></autocomplete>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- task option 선택 영역 -->
        <div class="task-options-area">
            <div>
                <div class="row task-options">
                    <div class="col-md-4">


                        <div id="repeatEditSection" >
                            <div repeat-picker-toggle>
                                <i class="icon-append fa fa-calendar cursor" style="float: left; padding: 8px;"></i>
                                <i class="icon-append glyphicon glyphicon-retweet" ng-if="vm.task.taskRepeatSchedule.repeatType != '' && vm.task.taskRepeatSchedule != null " style="float: left; padding: 8px;"></i>
                                <div class="form-group" style="margin-bottom: 0">

                                <span class="input-group wms-form">
                                    <label class="input">
                                        <input type="text" class="form-control col-xs-2"  ng-model="vm.endDate" id="endDate" style="height: 30px; width: 100%; border : 0">
                                    </label>

                                    <span class="dueDateValues" >{{vm.task.startDate}} {{vm.task.startDate =='' && vm.task.endDate == '' ? '일정' : '~'}} {{vm.task.endDate}}</span>
                                </span>
                                </div>

                            </div>
                            <!-- 달력 팝업 -->
                            <div wms-Include="app/task/html/repeatDatePicker.html"></div>
                        </div>



                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-click="vm.subTaskOpen = !vm.subTaskOpen" ><i class="fa fa-outdent" id="subTaskAdd" > 하위 작업 추가</i></label>
                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen"><i class="fa fa-paperclip"></i> 파일 첨부</label>
                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-click="vm.relatedTaskOpen = !vm.relatedTaskOpen"><i class="fa fa-share-alt"></i> 참조 작업</label>
                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-class="vm.task.relatedTasks.length == 0 && vm.task.subTasks.length == 0 ? 'btn-none' : ''" ng-click="vm.getTaskProgressStatus()">
                            <i class="fa fa-share-alt"></i> 작업 현황
                        </label>
                    </div>
                </div>
                <div class="sub-task-area" style="border-top: 1px solid #ddd; padding: 5px" >
                    <table class="table table-bordered" ng-show="vm.task.subTasks.length != 0">
                        <thead>
                        <tr>
                            <td>하위 작업 목록</td>
                        </tr>
                        </thead>
                        <tbody id="userPickerSection">
                            <tr ng-repeat="list in vm.task.subTasks">
                                <td>

                                    <!-- 우측 영역 -->
                                    <span class="pull-right">
                                        <!--{{list.createdDate | date : 'yyyy-MM-dd'}}-->
                                        <div id="subTaskEditSection">
                                            <i class="icon-append fa fa-calendar cursor" style="float: left; padding: 8px;" sub-task-picker-toggle ng-click="vm.setDatePickerInput(list)"></i>
                                            <div class="form-group" style="margin-bottom: 0">

                                                <span class="input-group wms-form">
                                                    <label class="input" ng-show="list.startDate != '' || list.startDate != ''">
                                                        <input type="text" class="form-control col-xs-2"  ng-model="vm.endDate" id="subTaskEndDate" style="height: 30px; width: 100%; border : 0">
                                                    </label>

                                                    <span class="dueDateValues" sub-task-picker-toggle ng-click="vm.setDatePickerInput(list)">{{list.endDate}}</span>
                                                </span>
                                            </div>
                                            <div wms-Include="app/task/html/subTaskDatePicker.html"></div>
                                        </div>
                                    </span>

                                    <!-- 제목 영역 -->
                                    <div class="task-list-title">
                                        <input type="checkbox"/>
                                        <span class="cursor" ui-sref="my-task.detail({id : list.id, listType : vm.listType})">{{list.name}}</span>

                                    </div>

                                    <!-- 사용자 아이콘 -->
                                    <div>
                                        <!-- 사용자 검색 -->
                                        <span class="taskUserValueSection pull-left" ng-click="vm.updateSubTaskForm(list)" user-picker-edit-toggle> <i class="fa fa-lg fa-plus" id="assigneeAddBtn"></i></span>
                                        <div class="project-picker userPickerSection">
                                            <div style="width: 300px;">
                                                <div style="width: 300px;">
                                                    <div class="project-picker-search">
                                                        <input class="project-picker-search-input" type="text" ng-model="vm.userName" enter-submit="pickerFindUsers(userName)" placeholder="사용자 명을 입력하세요."  wms-kr-update>
                                                    </div>
                                                    <div class="project-picker-list-area">
                                                        <div class="project-picker-list">
                                                            <div data-ng-repeat="user in vm.userList">
                                                                <div class="project-picker-list-item" ng-click="vm.subTaskUserAdd(user.id)">
                                                                    <div>
                                                                        <div class="project-picker-list-item-title">
                                                                            <ul class="list-inline friends-list float-left comment-user-profile">
                                                                                <li>
                                                                                    <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.createdByName}}">
                                                                                    <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.createdByName}}">
                                                                                </li>
                                                                            </ul>
                                                                            {{user.name}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-inline friends-list" style="margin-bottom: 0">
                                            <li ng-repeat="user in list.assignees" style="position: relative">
                                                <img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}">
                                                <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}">
                                                <span class="profile-close-btn cursor" ng-click="vm.subTaskUserRemove(user.id, list)"><i class="fa fa-close"></i></span>
                                            </li>
                                            <!--<li ng-if="list.assignees.length > 3">-->
                                            <!--<a href-void>-->
                                            <!--<span class="activity">-->
                                            <!--<a><i class="fa fa-plus" style="font-size: 22px; position: relative; top: 5px;"></i><b class="badge bg-color-red" style="position: absolute;">{{list.assignees.length - 3}}</b></a>-->
                                            <!--</span>-->
                                            <!--</a>-->
                                            <!--</li>-->
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="add-sub-task"  ng-class="vm.subTaskOpen ? 'on' : ''">
                        <input type="text" class="form-control" ng-model="vm.subTask.name" enter-submit="vm.subTaskSave()" placeholder=" 추가할 작업명을 입력하세요."/>
                    </div>
                </div>
                <div class="related-task-area" ng-class="vm.relatedTaskOpen ? 'on' : ''"  style="border-top: 1px solid #ddd">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="15%">
                            <col width="85%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th style="vertical-align: middle;">참조 작업</th>
                                <td>
                                    <autocomplete source="findTasks" tags="vm.task.relatedTasks" display-property="name" multiple="true" max-results-to-show="20" tag-type="relatedTasks"></autocomplete>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>

            <div class="panel panel-default min-height-100-p detail-content" id="editingSection">
                <div class="ibox">
                    <div class="ibox_content elementSection"  section-toggle style="min-height: 50px">
                        <span ng-bind-html="vm.renderHtml(vm.task.contents)" ></span>
                    </div>
                    <div class="content-edit editingSection" >
                        <summernote config="dataService.getSummerNoteOptions(true)"
                                    lang="ko-KR" ng-model="vm.task.contents"
                                    data-editor="editor"
                                    data-editable="editable"
                                    data-on-image-upload="imageUpload(files)"></summernote>
                    </div>
                </div>
            </div>
            <div style="text-align: right;">
                <button type="button" class="btn" ng-click="vm.taskRevertModalOpen()">복원</button>
            </div>
        </div>

        <div class="task-file-area"  ng-class="(vm.fileAreaOpen || vm.previewFiles.length > 0) ? 'on' : ''">
            <div class="file-header-area">
                <ul>
                    <li>파일 ({{vm.previewFiles.length}})</li>
                    <li><label class="cursor"><i class="fa fa-download"></i></label></li>
                    <li><label for="input-4" class="cursor"><i class='fa fa-paperclip'></i></label></li>
                    <li><label class="cursor"><i class="fa fa-list" ng-click="vm.fileListYn = !vm.fileListYn" file-list-yn></i></label></li>
                    <li><label class="cursor"><i class="fa fa-trash"></i></label></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <input id="input-4" name="input4[]" type="file" multiple class="file-loading" get-files> <!--  get-files -->
            <!--<input id="input-pa" name="input-pa[]" type="file" multiple class="file-loading" get-files>--><br/>
            <wms-table ng-model="vm.previewFiles" table-configs="vm.tableConfigs" update-callback="updateCallback" ng-show="vm.fileListYn"></wms-table>
            <style>
                .fileinput-upload {
                    display: none !important;
                }
                .btn-file{
                    display: none !important;
                }
            </style>
        </div>
        <!-- Timeline Content -->
        <div class="smart-timeline">
            <a ng-click="vm.commentViewType = !vm.commentViewType">댓글만 보기({{vm.commentList.length}})</a>
            <ul class="smart-timeline-list">

                <!-- 로그&댓글 보기 -->
                <li ng-repeat="data in vm.TaskAuditLog.data" ng-if="!vm.commentViewType">
                    <div class="smart-timeline-icon" ng-if="(vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')">
                        {{vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd'}}
                    </div>
                    <div class="smart-timeline-content">

                        <ul class="list-inline friends-list float-left comment-user-profile"
                            ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                            ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <li>
                                <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                            </li>
                        </ul>

                        <p ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                           ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <a href-void><strong>{{data.createdByName}}</strong> </a><a editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</a>
                        </p>
                        <div class="pad-l15">

                            <!-- 댓글 영역 -->
                            <div ng-if="data.entityField == 'reply'" class="pad-l10  clear-both">

                                <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px"></span> {{data.createdDate | date : 'HH:mm'}} <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                                <br class="clear-both"/>
                                <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                    <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                                </p>
                            </div>

                            <!-- 시스템 영역 -->
                            <div ng-if="data.entityField != 'reply'" class="pad-l10 clear-both" >

                                <span translate="audit.entity.task" ng-if="data.entityField == null || data.entityField == ''">엔티티</span>
                                <span translate="audit.field.task.{{data.entityField}}" ng-if="(data.entityField != null && data.entityField != '') && data.entityField != 'taskUsers'">필드</span>
                                <span translate="audit.field.task.{{data.etcValue}}"  ng-if="(data.entityField != null && data.entityField != '') && data.entityField == 'taskUsers'">필드</span>
                                <span translate="audit.persist-type.{{data.persistType}}">유형</span>
                                <span ng-if="data.entityField != 'taskAttachedFiles' && data.entityField != 'taskRepeatSchedule' && data.entityField != 'contents'">
                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        <span ng-if="data.entityField == 'importantYn'">
                                            <span ng-if="data.newValue == 'true'">
                                                활성
                                            </span>
                                            <span ng-if="data.newValue == 'false'">
                                                비활성
                                            </span>
                                        </span>
                                        <span ng-if="data.entityField != 'importantYn'">
                                            {{data.newValue}}
                                        </span>
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                <span ng-if="data.entityField == 'taskAttachedFiles' && data.entityField != 'taskRepeatSchedule' && data.entityField != 'contents'">

                                    <span ng-if="data.persistType == 'INSERT' || data.persistType == 'UPDATE'">
                                        <i class="fa fa-paperclip"></i>
                                        <a ng-click="vm.fileDownLoad(data.attachedFileId)">{{data.newValue}}</a>
                                    </span>
                                    <span ng-if="data.persistType == 'DELETE'">
                                        {{data.oldValue}}
                                    </span>
                                </span>
                                {{data.createdDate | date : 'HH:mm'}}
                                <br class="clear-both"/>

                                <!--{{data.createdBy}} 이 {{data.entityField}} {{data.newValue}}를 {{data.persistType}}하였습니다. {{data.createdDate | date : 'HH:mm'}}-->
                                <!--<br/>-->
                                <!--<p ng-repeat="file in data.attachedFiles" class="pad-l20">-->
                                <!--<a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>-->
                                <!--</p>-->
                            </div>
                        </div>
                    </div>
                </li>

                <!-- 댓글만 보기 -->
                <li ng-repeat="data in vm.commentList track by $index" ng-if="vm.commentViewType">
                    <div class="smart-timeline-icon" ng-if="(data.createdDate | date : 'MM/dd') != (vm.commentList[$index-1].createdDate | date : 'MM/dd')
                    ">
                        {{data.createdDate | date : 'MM/dd'}}
                    </div>
                    <div class="smart-timeline-content">
                        <ul class="list-inline friends-list float-left comment-user-profile"
                            ng-if="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd')"
                            ng-class="vm.TaskAuditLog.data[$index].createdBy != vm.TaskAuditLog.data[$index-1].createdBy
                            || (vm.TaskAuditLog.data[$index].createdDate | date : 'MM/dd') != (vm.TaskAuditLog.data[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <li>
                                <img ng-src="/content/images/demo/male.png" ng-if="data.profileImageId == null || data.profileImageId == '' " uib-tooltip="{{data.createdByName}}">
                                <img ng-src="{{vm.baseUrl}}/api/attachedFile/{{data.profileImageId}}" ng-if="data.profileImageId != null" uib-tooltip="{{data.createdByName}}">
                            </li>
                        </ul>
                        <p ng-if="vm.commentList[$index].createdBy != vm.commentList[$index-1].createdBy
                            || (vm.commentList[$index].createdDate | date : 'MM/dd') != (vm.commentList[$index-1].createdDate | date : 'MM/dd')"
                            ng-class="vm.commentList[$index].createdBy != vm.commentList[$index-1].createdBy
                            || (vm.commentList[$index].createdDate | date : 'MM/dd') != (vm.commentList[$index-1].createdDate | date : 'MM/dd') ? 'comment-user-title' : ''">
                            <a ><strong>{{data.createdByName}}</strong> </a><span editor-mention-write user-name="data.createdByName" user-id="data.createdById">댓글</span>
                        </p>
                        <div class="pad-l15 clear-both">
                            <div ng-if="data.entityField == 'reply'" class="pad-l10">
                                <span ng-bind-html="vm.renderHtml(data.newValue)" style="float: left; margin-right: 5px"></span>
                                {{data.createdDate | date : 'HH:mm'}} <span ng-if="data.createdBy == vm.userInfo.login"  class="fa fa-times" ng-click="vm.removeComment(data.id)"></span>
                                <br class="clear-both"/>
                                <p ng-repeat="file in data.attachedFiles" class="pad-l20">
                                    <a ng-click="vm.fileDownLoad(file.id)">{{file.name}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- END Timeline Content -->

        <div class="row comment-area">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-1">
                        <a ng-click="vm.commentFileAreaOpen = !vm.commentFileAreaOpen">
                            <i class="fa fa-paperclip pull-right" style="font-size: 30px; margin-top: 6px"></i>
                        </a>

                    </div>
                    <div class="col-md-11">
                        <summernote ng-model="vm.comment.contents" on-init="init()" on-enter="enter()" on-focus="focus(evt)" config="dataService.getSummerNoteOptions(false)"
                                    on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" contenteditable="true"
                                    on-keydown="keydown(evt)" on-change="change(contents)"
                                    editable="editable" editor="editor" lang="ko-KR">
                        </summernote>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn_icon btn_customs" ng-click="vm.createComment()" owl-btn-save></button>
            </div>
        </div>
        <div class="task-file-area" ng-class="vm.commentFileAreaOpen ? 'on' : ''">
            <div class="file-header-area">
                <ul>
                    <li>파일 ({{commentFiles.length}})</li>
                    <li><label for="input-5" class="cursor"><i class='fa fa-paperclip'></i></label></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <input id="input-5" name="input5[]" type="file" multiple class="file-loading" get-files file-type="comment">
        </div>


    </div>
</div>
