<script type="text/ng-template" id="tree-dnd-grid-template-render.html">
    <div class="table table-bordered table-hover " style="margin-bottom: 0;">
        <div tree-dnd-nodes>
            <div tree-dnd-node="node" ng-repeat="node in tree_nodes track by node.__hashKey__ " class="wms-tree-node"

                ng-click="onSelect(node)"><!--ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"-->
                <div tree-dnd-node-handle class="wms-tree-node-list"

                    ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate"><!--ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"-->
<!--                    <a data-nodrag> <i
                                        ng-show="node.__children__.length > 0"
                                        ng-class="node.__expanded__ ? ('glyphicon glyphicon-chevron-down') : 'glyphicon glyphicon-chevron-right'"
                                       ng-click="toggleExpand(node)"
                                       class="tree-icon"></i>
                    </a> -->
                    <input type="checkbox"/> <a href-void>{{node[expandingProperty.field] || node[expandingProperty]}}</a><span ng-class="node.icon ? node.icon : ''"></span>
                    <span class="pull-right">7/12(5일)</span>
                </div>
            </div>
        </div>
    </div>
</script>

<tree-dnd
    tree-data="tree_data"
    tree-control="my_tree_grid"
    filter="_filter"
    expand-on="expanding_property"
    order-by="orderBy"
    template-url="tree-dnd-grid-template-render.html"
    column-defs="columnDefinitions"

    indent="30"
    indent-plus="20"
    indent-unit="px"

    enable-drop="false"
    enable-drag="false"
    enable-collapse="enableModify"
    enable-move="false"

    enable-hotkey="false"
    enable-status="false"
>
</tree-dnd>
