<div class="modal-header"><!-- 현재 안쓰는 페이지 현재 안쓰는 페이지 현재 안쓰는 페이지 현재 안쓰는 페이지  현재 안쓰는 페이지 현재 안쓰는 페이지 현재 안쓰는 페이지-->
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title" translate="login.title">Sign in</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 translate="login.title">Sign in</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError" translate="{{vm.authenticationErrorMessage}}">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-6">
            <form class="form" name="loginForm" role="form" ng-submit="vm.login($event)" novalidate show-validation>
                <div class="form-group">
                    <label class="control-label" for="username" translate="global.form.username">Login</label>
                    <input type="text" class="form-control" id="username" name="username"
                           required
                           ng-minlength="1"
                           ng-maxlength="20"
                           ng-pattern="/^[_'.@A-Za-z0-9-]*$/"
                           maxlength="50"
                           placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                    <div class="error ng-hide" ng-show="loginForm.username.$invalid &amp;&amp; loginForm.username.$dirty">
                    <span ng-show="loginForm.username.$error.required" class="ng-hide" translate="register.messages.validate.login.required">
                        Your username is required.
                    </span>
                    <span ng-show="loginForm.username.$error.minlength" class="ng-hide" translate="register.messages.validate.login.minlength">
                        Your username is required to be at least 1 character.
                    </span>
                    <span ng-show="loginForm.username.$error.maxlength" class="ng-hide" translate="register.messages.validate.login.maxlength">
                        Your username cannot be longer than 50 characters.
                    </span>
                    <span ng-show="loginForm.username.$error.pattern" class="ng-hide" translate="register.messages.validate.login.pattern">
                        Your username can only contain lower-case letters and digits.
                    </span>
                    </div>
                </div>



                <div class="form-group">
                    <label for="password" translate="login.form.password">Password</label>
                    <input type="password" class="form-control"
                           id="password"
                           name="password"
                           placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-maxlength="50"
                           ng-minlength=4
                           maxlength="50"
                           required
                           ng-model="vm.password">
                    <div class="error ng-hide" ng-show="loginForm.password.$invalid &amp;&amp; loginForm.password.$dirty">
                              <span ng-show="loginForm.password.$error.required" class="ng-hide" translate="global.messages.validate.newpassword.required">
                            Your password is required.
                              </span>
                              <span ng-show="loginForm.password.$error.minlength" class="ng-hide" translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                              </span>
                              <span ng-show="loginForm.password.$error.maxlength" class="ng-hide" translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                              </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span translate="login.form.rememberme">Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" translate="login.form.button">Sign in</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="" ng-click="vm.requestResetPassword()" translate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
            </div>
        </div>
        <div class="col-md-6">
            <br/>
            <jh-social ng-provider="google"></jh-social>
            <jh-social ng-provider="facebook"></jh-social>
            <jh-social ng-provider="twitter"></jh-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
</div>
