<div>
    <div class="task-popup-body">
        <ul class="margin-bottom-0">
            <li ng-repeat="task in data.subTasks" class="sub-task-popup-list" ng-class="task.statusId == 1 ? 'blue' : (task.statusId == 2 ? 'green' : (task.statusId == 3 ? 'black' : 'red'))">
                <div class="sub-task-popup-title" ng-class="task.assignees.length > 0 ? 'task-list-title' : ''" style="line-height: 25px;">
                    <a ng-click="vm.openTaskPopup(task.id, vm.listType)" ng-if="vm.pageType == 'task'">{{task.name}}</a> <!-- my-task.detailPopup({popupId : task.id, popupListType : vm.listType, taskId : task.id}) -->
                    <a ui-sref="my-project.taskDetailPopup({popupId : task.id, popupListType : vm.listType,taskId : task.id})" ng-if="vm.pageType == 'project'">{{task.name}}</a>
                </div>
                <!--<ul class="list-inline friends-list text-right margin-right-10" style="margin-bottom: 0">-->
                    <!--<li ng-repeat="user in task.assignees | limitTo:3">-->
                        <!--<img ng-src="/content/images/demo/male.png" ng-if="user.profileImageId == null || user.profileImageId == '' " uib-tooltip="{{user.name}}" style="margin-right: 0">-->
                        <!--<img ng-src="{{vm.baseUrl}}/api/attachedFile/{{user.profileImageId}}" ng-if="user.profileImageId != null" uib-tooltip="{{user.name}}" style="margin-right: 0">-->
                    <!--</li>-->
                    <!--<li ng-if="task.assignees.length > 3">-->
                        <!--<a href-void>-->
                            <!--<span class="activity">-->
                                <!--<a class="position-relative"><i class="fa fa-plus user-profile-plus-btn"></i> <b class="badge bg-color-red user-count-icon">{{task.assignees.length - 3}}</b></a>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </li>
        </ul>
    </div>
</div>
