<owl-alert-close></owl-alert-close>
<div class="modal-body" dynamic-scroll style="overflow-y: auto; padding: 15px;">
    <div class="ext-el-mask" id="ext-gen898" ng-show="vm.task.id == ''"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9">
                <i class="fa fa-exclamation-circle task-circle" ng-class="vm.task.importantYn ? 'on' : ''" ng-click="vm.task.importantYn = !vm.task.importantYn"></i>
                <input type="text" class="taskAddInput" ng-model="vm.task.name" maxlength="35" enter-submit="vm.save()" placeholder="Task"/>
            </div>
            <div class="col-md-3">
                <span class="pull-right taskOptionBtnArea">
                    <span class="taskModalBtn" ng-click="taskAddModalOpen()" class="pull-right">
                        <i class="fa fa-arrows-alt"></i>
                    </span>
                    <span class="taskModalBtn" ng-click="taskAddModalOpen()" class="pull-right">
                        <i class="fa fa-print"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div ng-class="viewTypeClass" style="margin-top: 10px; min-height: 560px" >
        <!-- 프로젝트/폴더 선택 -->
        <div id="projectPickerSection" class="taskAddProject">
            <label for="addProject" class="cursor projectValueSection" ><i class="fa fa-plus" id="addProject"></i> <span project-picker-edit-toggle>프로젝트/폴더 선택</span></label>
                        <span class="task-project" ng-repeat="project in vm.task.taskProjects">
                            {{project.name}}
                            <i class="fa fa-close" ng-click="project"></i>
                        </span>
            <div class="project-picker projectPickerSection">
                <div style="width: 300px;">
                    <div style="width: 300px;">
                        <div class="project-picker-search">
                            <input class="project-picker-search-input" type="text" ng-model="vm.projectName" enter-submit="vm.FindProjectList()" placeholder="프로젝트 또는 폴더를 선택하세요.">
                        </div>
                        <div class="project-picker-list-area">
                            <div class="project-picker-list">
                                <div data-ng-repeat="project in vm.projectList">
                                    <div class="project-picker-list-item" wms-add-project-element ng-model="project" task-project="vm.taskProject">
                                        <div>
                                            <div class="project-picker-list-item-title">{{project.name}} || {{project.id}}</div>
                                            <div class="project-picker-list-item-path" >
                                                <div>My Project</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- task 상태, 담당자, 참조자 선택 영역 -->
        <div class="task-options-area task-status-user-aera">
            <table class="table table-bordered">
                <colgroup>
                    <col width="40px">
                    <col width="70px">
                    <col width="60px">
                    <col width="35%">
                    <col width="60px">
                    <col width="35%">
                </colgroup>
                <tbody>
                <tr>
                    <td>
                            <span class="custom-control custom-checkbox" style="margin-bottom: 0;">
                                <input type="checkbox" ng-click="vm.task.statusId = 2" class="custom-control-input">
                            </span>
                    </td>
                    <td>
                        <ol class="nya-bs-select " ng-model="vm.task.statusId" style="width: 90px;">
                            <li nya-bs-option="option in vm.codes" title="{{option.name}}" data-value="option.id">
                                <a>
                                    {{ option.name }}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </td>
                    <td>
                        담당자
                    </td>
                    <td>
                        <autocomplete source="findUsers" tags="assigneeUser" display-property="name" multiple="true" max-results-to-show="20" tag-type="assignees"></autocomplete>
                    </td>
                    <td>
                        참조
                    </td>
                    <td>
                        <autocomplete source="findUsers" tags="watchers" display-property="name" multiple="true" max-results-to-show="20" tag-type="watchers"></autocomplete>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!-- task option 선택 영역 -->
        <div class="task-options-area">
            <div>
                <div class="row task-options">
                    <div class="col-md-4">


                        <div id="repeatAddSection">
                            <div class="form-group" style="margin-bottom: 0">
                                <p class="input-group wms-form">
                                    <label class="input"> <i class="icon-append fa fa-calendar" style="z-index: 1000"></i>
                                        <input type="text" class="form-control col-xs-2"  ng-model="vm.endDate" id="endDate" repeat-picker-add-toggle style="height: 30px; width: 100%">
                                    </label>
                                    <span class="dueDateValues" picker-toggle>{{vm.task.startDate + " ~ " + vm.task.endDate}}</span>
                                </p>
                            </div>

                            <!-- 달력 팝업 -->
                            <div wms-Include="app/task/html/repeatAddDatePicker.html" ></div>
                        </div>



                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-click="vm.subTaskOpen = !vm.subTaskOpen" ><i class="fa fa-flag" id="subTaskAdd" > 하위 작업 추가</i></label>
                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-click="vm.fileAreaOpen = !vm.fileAreaOpen"><i class="fa fa-flag"></i> 파일 첨부</label>
                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ng-click="vm.relatedTaskOpen = !vm.relatedTaskOpen"><i class="fa fa-flag"></i> 참조 작업</label>
                    </div>
                    <div class="col-md-2">
                        <label for="subTaskAdd" class="cursor" ><i class="fa fa-flag"></i> 작업 현황</label>
                    </div>
                </div>
                <div class="sub-task-area" style="border-top: 1px solid #ddd; padding: 5px" ng-class="vm.subTaskOpen ? 'on' : ''">
                    <div class="sub-task-area-title">하위 작업 목록</div>
                    <div ng-repeat="list in vm.subTaskList" ng-show="vm.subTaskList != []" class="sub-task-area-list">
                        {{list.name}}
                    </div>
                    <div class="add-sub-task">
                        <input type="text" class="form-control" ng-model="vm.subTask.name" enter-submit="vm.subTaskSave()" placeholder=" 추가할 작업명을 입력하세요."/>
                    </div>
                </div>
                <div class="related-task-area" ng-class="vm.relatedTaskOpen ? 'on' : ''" style="border-top: 1px solid #ddd">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="15%">
                            <col width="85%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th style="vertical-align: middle;">참조 작업</th>
                            <td>
                                <autocomplete source="findTasks" tags="relatedTaskList" display-property="name" multiple="true" max-results-to-show="20"></autocomplete>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <summernote ng-model="vm.task.contents" on-init="init()" on-enter="enter()" on-focus="focus(evt)" config="dataService.getSummerNoteOptions(true)"
                on-blur="blur(evt)" on-paste="paste()" on-keyup="keyup(evt)" contenteditable="true"
                on-keydown="keydown(evt)" on-change="change(contents)"
                on-image-upload="imageUpload(files)" editable="editable" editor="editor" lang="ko-KR">
            </summernote>
        </div>

        <div class="task-file-area" ng-class="vm.fileAreaOpen ? 'on' : ''">
            <input id="input-4" name="input4[]" type="file" multiple class="file-loading" get-files>
        </div>

    </div>
</div>
<div class="modal-footer" >
    <button type="button" class="btn btn_icon btn_customs" ng-click="vm.taskUpdate()" ng-show="vm.task.id != ''" owl-btn-save></button>
    <button type="button" class="btn btn_icon btn_customs2" ng-click="vm.cancel()" owl-btn-cancel></button>
</div>


<script>
    $("#input-4").fileinput({showCaption: false, showUpload: false, uploadUrl:"1", uploadAsync: false});
</script>
