body {
    background: #fcfcfc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

p{
    margin: 0;
}

/*----------------------------------- scroll style css start -------------------------------------*/
/*Internet Explorer용 코드*/
html {
    scrollbar-3dLight-Color: #efefef;
    scrollbar-arrow-color: #dfdfdf;
    scrollbar-base-color: #efefef;
    scrollbar-Face-Color: #dfdfdf;
    scrollbar-Track-Color: #efefef;
    scrollbar-DarkShadow-Color: #efefef;
    scrollbar-Highlight-Color: #efefef;
    scrollbar-Shadow-Color: #efefef
}
/*Webkit(Safari, Chrome)용 코드*/
/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border: 3px solid #fff;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
    background: #efefef
}

::-webkit-scrollbar-track {
    background: #efefef;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, .2);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}
/*----------------------------------- scroll style css end -------------------------------------*/

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: red;
    background-color: white;
}


.pad {
    padding: 10px;
}

.pad0 {
    padding: 0px;
}

.pad-r0 {
    padding-right: 0px;
}

.pad20 {
    padding: 20px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.voffset-b0 { margin-bottom: 0px; }
.voffset-b { margin-bottom: 2px; }
.voffset-b1 { margin-bottom: 5px; }
.voffset-b2 { margin-bottom: 10px; }
.voffset-b3 { margin-bottom: 15px; }
.voffset-b4 { margin-bottom: 30px; }
.voffset-b5 { margin-bottom: 40px; }
.voffset-b6 { margin-bottom: 60px; }
.voffset-b7 { margin-bottom: 80px; }
.voffset-b8 { margin-bottom: 100px; }
.voffset-b9 { margin-bottom: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}


/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-css-add-main JHipster will add new css style */


/* side nav Toggle Styles  START */
#wrapper {
    padding-left: 0;
    /*-webkit-transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
}

#wrapper.toggled {
    padding-left: 200px;
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 1000;
    /*position: absolute;*/
    /*left: 200px;*/
    width: 0;
    height: 100%;
    /*margin-left: -200px;*/
    overflow-y: auto;
    background: #f8f8f8;
    /*-webkit-transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
}
#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    margin: 3px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

#sidebar-wrapper {
    margin-top: 0px; border-right: 1px solid #eaeaea;
}
#sidebar-wrapper .sidebar-nav {
    margin-top: 5px;
}
.content-wrapper{
    margin-top: 50px;
}
.navbar-collapse {
    z-index: 1000;
}
.side-nav-btn {
    position: fixed; top:0; left: 200px; z-index: 1060
}
.side-contents .users.on, .side-contents .test.on, .side-icon .users.on, .side-icon .test.on{
    display: block;
}
.side-menu.toggled-2 .side-contents .users, .side-menu.toggled-2 .side-contents .test{
    display: none ;
}
.side-menu.toggled-2 .side-icon{
    width: 100% !important;
}
.side-contents .users, .side-contents .test{
    display: none;
}
.side-icon .users.on, .side-icon .test.on{
    background: #9EB8F1;
    border-radius: 4px;
    padding-top: 5px;
}

/* side nav Toggle Styles  END */

@media (max-width:767px) {
    .slideBtnArea {
        display: block !important;
        top: 5px !important;
    }
    .slideMenu{
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 15px 45px 0px 45px;
    }
    .slideMenu ul{
        white-space: nowrap;
        width: 2020px !important;
    }
    .slideMenu ul li{
        margin-left: -4px;
        float: none;
        display: inline-block;
    }
    .slideMenu ul li:first-child{
        margin-left: 0;
    }
    .slideBody{
        padding-left: 0
    }
    .detail-info-area > .row > div .row:first-child{
        border-bottom: 1px solid #cfcfcf;
    }
    .detail-info-area{
        border-bottom-width: 0px !important;
    }
}

@media(min-width:768px) {
    /* side nav Toggle Styles  START */
    #wrapper {
        /*padding-left: 40px;*/
        /*margin: 5px;*/
    }
    .fixed-brand{
        width: 200px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 300px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 60px;
    }
    #wrapper.toggled-2 #sidebar-wrapper ul li a span{
        margin-right: 5px;
    }
    #wrapper.toggled-2 #sidebar-wrapper ul .active a{
        width: 53px;
        white-space: nowrap;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover .side-icon,     #wrapper.toggled-2 #sidebar-wrapper:hover .side-icon{
        width: 16.66666667% !important;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover .side-contents .users.on,     #wrapper.toggled-2 #sidebar-wrapper:hover .side-contents .test.on{
        display: block;

    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 300px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        /*-webkit-transition: all 0.3s ease;*/
        /*-moz-transition: all 0.3s ease;*/
        /*-o-transition: all 0.3s ease;*/
        /*transition: all 0.3s ease;*/
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 300px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -300px;
        /*-webkit-transition: all 0.3s ease;*/
        /*-moz-transition: all 0.3s ease;*/
        /*-o-transition: all 0.3s ease;*/
        /*transition: all 0.3s ease;*/
        width: auto;

    }
    /* side nav Toggle Styles  END */
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .slideBtnArea {
        display: block !important;
        top: 5px !important;
    }
    .slideMenu{
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 15px 45px 0px 45px;
    }
    .slideMenu ul{
        white-space: nowrap;
        width: 2020px !important;
    }
    .slideMenu ul li{
        margin-left: -4px;
        float: none;
        display: inline-block;
    }
    .slideMenu ul li:first-child{
        margin-left: 0;
    }
    .slideBody{
        padding-left: 0
    }
    .detail-info-area > .row > div .row:first-child{
        border-bottom: 1px solid #cfcfcf;
    }
    .detail-info-area{
        border-bottom-width: 0px !important;
    }
    .detail-info-area .header{
        border-bottom: 1px solid #ddd;
    }
}
@media screen and (min-width: 992px) and (max-width: 1366px) {
    .slideBtnArea {
        display: block !important;
    }
    .slideMenu{
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 15px 45px 0px 45px;
    }
    .slideMenu ul{
        white-space: nowrap;
        width: 2020px !important;
    }
}
@media (min-width: 1250px) {
    .slideBtnArea {
        display: block !important;
    }
    .slideMenu{
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 15px 45px 0px 45px;
    }
    .slideMenu ul{
        white-space: nowrap;
        width: 2020px;
    }
}


.date-picker-name {
    color: #818181;
    font: 12px NanumGothic, 나눔고딕, 맑은 고딕, Apple SD Gothic Neo;
    text-align: center;
    width: 100%;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#ffffff));
}

/*  :::::::::::::: paging style ::::::::::::::  */

.pagination {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #eee;
    margin: 0 0 20px 0;
}

.pagination > li {
    display: inline;
}

.pagination > li > a {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: #e5e5e5;
    border-radius: 100%;
    font-family: 'Tahoma';
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.pagination > li > span {
    margin-left: 0;
    color: #e5e5e5;
    background: #fff;
    border: none;
}

.pagination > li > span:hover,
.pagination > li > span:focus {
    margin-left: 0;
    background: #fff;
    border: none;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
    background-color: #5fafe4;
    color: #fff;
    border: none;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #5fafe4;
    border-color: #5fafe4;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #84909c;
    cursor: not-allowed;
    background-color: #e5e5e5;
    border-color: #dddddd;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px;
}

.modal-body .pagination-sm {
    margin: 0px;
}

.paginom {
    float: left;
    margin: -15px 0 0 110px;
    min-width: 100px;
}

/*  :::::::::::::: bootstrap style ::::::::::::::  */


.side-menu {
    overflow-y: none;
    z-index: 1010;
    position: fixed;
    width: 60px;
    height: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.content-wrapper.toggled-3 .side-menu {
    width: 200px;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.side-body {
    margin-top: 20px;
    margin-left: 60px;
    /*-webkit-transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
}
.content-wrapper.toggled-3 .side-body {
    margin-left: 300px;
    /*-webkit-transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*transition: all 0.3s ease;*/
}
.navbar{
    margin-bottom : 0;
}

.content-wrapper .side-menu .sidebar-nav li .menu-name{
    width: 0px;
    white-space: nowrap;
    padding-left: 6px;
    display: none;
}
.content-wrapper .side-menu .sidebar-nav {
    width: 60px;
}
.content-wrapper.toggled-3 .side-menu .sidebar-nav li .menu-name{
    display: inline-block;
}
.content-wrapper.toggled-3 .side-menu .sidebar-nav {
    width: 200px;
}
.content-wrapper .side-menu:hover .sidebar-nav {
    width: 200px;
}
.content-wrapper .side-menu:hover .sidebar-nav li .menu-name{
    display: inline-block;
}
.content-wrapper .side-menu .sidebar-nav li a{
    height: 40px;
}
li.active > a{
    /*color: #337ab7 !important;*/
    /*background-color: #fff !important;*/
}
.modal-backdrop {
    background-color: transparent !important;
}

/*  :::::::::::::: tabs style ::::::::::::::  */
.nav-tabs {
    border-bottom: 5px solid #E1BD82;
    color: #8693a0;
    font: bold 13px "맑은 고딕", NanumGothic, "나눔고딕", "Apple SD Gothic Neo";
}

.nav-tabs > li {
    float: left;
    padding-rigth: 2px
}

.nav-tabs > li > span {
    display: block;
    padding: 10px 15px 7px 15px;
    cursor: pointer;
    margin-bottom: 1px;
    line-height: 1.8;
    border-radius: 4px 4px 0 0;
    background-color: #e0e0e0;
    margin-right: 2px;
}

.nav-tabs > li.active > span,
.nav-tabs > li.active > span:hover,
.nav-tabs > li.active > span:focus {
    border-radius: 4px 4px 0 0;
    color: #fff;
    cursor: default;
    background-color: #E1BD82;
}

.nav-tabs > li > span:hover,
.nav-tabs > li > span:focus {
    color: #fff;
    background-color: #E1BD82;
}

/* 슬라이드 css */
.slideBtnArea {
    position: absolute;
    top: 20px;
    padding: 0 15px;
    z-index: 10;
    color : #aaa;
}
.slideBtnArea:hover {
    color : #4677f8;
}
.slideBtnArea:active {
    color : #2aabd2;
}
.slideMenu ul {
    /*width : 100%;*/
    cursor: auto;
}
.slideBody {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px;
}


.ui-tree .btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ------------------------ Tree end -------------------------- */

/* ----------- datePicker custom ----------- */
.searchForm .form-group{
    width: 210px;
}
.searchForm .picker-name{
    width: 200px; height: 34px;
}
.detail-info-area .picker-name{
    width: 200px; height: 34px;
}
.modal-body .picker-name{
    width: 100%; height: 34px;
}
.editSection{
    position: absolute;
    border: 1px solid #ccc;
    z-index: 1060;
    max-width: 276px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fafafa;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
}
.editSection.on{
    display: block;
}
.editSection .pickerBtnArea{
    margin: 6px;
}
.editSection .pickerArea{
    margin: 6px;
}
.editSection .title{
    padding: 8px;
    color : #fff;
    font-weight: 600;
    background-color: #89A7FF;
    border-bottom: 1px solid #ccc;
}
.form-group .dueDateValues{
    position: absolute;
    width: 100%;
    z-index: 10;
    right: -10px;
    top: 8px;
    cursor: pointer;
}

/* :::::::::::::::::::::: select box style ::::::::::::::::::::::: */
wms-select-box .dropdown-menu > .active > a{
    color: #000;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}
.nya-bs-select{
    width: 196px;
}
/* :::::::::::::::::::::: select box style end ::::::::::::::::::::::: */


/*  :::::::::::::: table td width style ::::::::::::::  */
.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-35 {
    width: 35%;
}

.width-36 {
    width: 36%;
}

.width-40 {
    width: 40%;
}

.width-45 {
    width: 45%;
}

.width-50 {
    width: 50%;
}

.width-55 {
    width: 55%;
}

.width-60 {
    width: 60%;
}

.width-65 {
    width: 65%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-85 {
    width: 85%;
}

.width-90 {
    width: 90%;
}

.width-95 {
    width: 95%;
}

.width-98 {
    width: 98%;
}

.width-100 {
    width: 100%;
}

.width-10-p {
    width: 10px;
}

.width-20-p {
    width: 20px;
}

.width-30-p {
    width: 30px;
}

.width-40-p {
    width: 40px;
}

.width-43-p {
    width: 43px;
}

.width-45-p {
    width: 45px;
}

.width-50-p {
    width: 50px;
}

.width-60-p {
    width: 60px;
}

.width-70-p {
    width: 70px;
}

.width-78-p {
    width: 78px;
}

.width-80-p {
    width: 80px;
}

.width-90-p {
    width: 90px;
}

.width-100-p {
    width: 100px;
}

.width-110-p {
    width: 110px;
}

.width-120-p {
    width: 120px;
}

.width-130-p {
    width: 130px;
}

.width-140-p {
    width: 140px;
}

.width-160-p {
    width: 160px;
}

.width-170-p {
    width: 170px;
}

.width-180-p {
    width: 180px;
}

.width-190-p {
    width: 190px;
}

.width-200-p {
    width: 200px;
}

.width-220-p {
    width: 220px;
}

.width-240-p {
    width: 240px;
}

.width-250-p {
    width: 250px;
}

.width-260-p {
    width: 260px;
}

.width-280-p {
    width: 280px;
}

.width-300-p {
    width: 300px;
}

.width-320-p {
    width: 320px;
}

.width-352-p {
    width: 352px;
}

.cursor {
    cursor: pointer;
}

table th {
    font-weight: bold;
    taxt-align: center !important;
    line-height: 1.8;
    text-align: center !important
}

.table-active {
    background: #EAF4FF !important;
}

/*-------------- 상세 요약정보 테이블 css start ---------------*/
.detail-info-area > .row .row > .header-color{
    font-weight: bold;
    color: #000;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fafafa));
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
}
.detail-info-area > .row .row > div{
    padding:10px;
    background-color: #fefefe;
}
.detail-info-area:first-child{
    border-top : 1px solid #ddd;
}
.detail-info-area{
    border-bottom: 1px solid #ddd;
    /*overflow: hidden;*/
}
.detail-info-area > .row{
    margin: 0;
}
/*-------------- 상세 요약정보 테이블 css end ---------------*/

/* ng gallery start */
.galleryBtnArea {
    position: absolute; top: 25px; padding: 0 20px; z-index: 10
}
.galleryBtnArea:hover {
    color : #4677f8;
}
.galleryBtnArea:active {
    color : #2aabd2;
}
.IssueGallery {
    overflow-x: auto; overflow-y: hidden; margin: 15px 60px 20px 60px; padding: 5px; display: flex;
}
/* ng gallery end */
.taskEdit input{
    display : none !important;
}
/*.taskEdit a, .taskEdit .edit-btn{*/
    /**/
/*}*/
.taskEdit.on a, .taskEdit.on .edit-btn{
    display : none !important;
}
.taskEdit.on input{
    display: block !important;
}
.detail-content {
    padding: 10px;
}
.editingSection, .elementSection.on{
    display: none;
}
.editingSection.on, .elementSection{
    display: block;
}
.datePickerSection, .dateValueSection.on{
    display: none;
}
.datePickerSection.on, .dateValueSection{
    display: table;
}
.userPickerSection, .userValueSection.on{
    display: none;
}
.userPickerSection.on, .userValueSection{
    display: table;
}
.userValueSection, .dateValueSection{
    color: #428bca;
    border-bottom: dashed 1px #428bca;
}
.tooltip-inner {
    padding: 3px 4px !important;
}

.taskEdit:hover .edit-btn{
    display: block;
}

/*------------ btn css start -------------*/
.btn-radius{
    border-radius: 2px !important;
}
.edit-btn { /* 수정 필요 */
    display: none;
    padding: 0px 8px;
}
/*------------ btn css end -------------*/

.text-cuting{
    width: 100px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

/*------------calendar------------------*/
#cal-week-box {
    display: none;
}

.cell-weekend {
    background-color: #ffeef1 !important;
}

.cell-holiday {
    background-color: #ffeef1 !important;
}
/*---------tree & tree grid------------*/
.tree-grid-active {
    background-color: #deefd7 !important;
}
tr:active, .tr:active, tr:focus, .tr:focus{
    border:none !important;
    outline:none !important;
}
span:active, .span:active, span:focus, .span:focus{
    border:none !important;
    outline:none !important;
}
i:active, .i:active, i:focus, .i:focus{
    border:none !important;
    outline:none !important;
}

/* kanban test css */
/***************************** Required styles *****************************/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.wmsKanban ul[dnd-list],
.wmsKanban ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.wmsKanban ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.wmsKanban li {
    display: block;
}
/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.wmsKanban .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.wmsKanban .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
/*.wmsKanban .dndPlaceholder {*/
    /*background-color: #ddd !important;*/
    /*min-height: 200px;*/
    /*width:0px;*/
    /*float: left;*/
    /*display: none;*/
    /*position: relative;*/
/*}*/

.wmsKanban .container-element {
    float:left;
    display:inline;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.wmsKanbanItem {
    width:95%;
    float:left;
    display:inline;
}
.wmsKanbanItemAdd {
    width:5%;
    float:left;
    display:inline
}
.wmsKanbanItem .drop-zone ul[dnd-list],
.wmsKanbanItem .drop-zone ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.wmsKanbanItem .drop-zone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.wmsKanbanItem .drop-zone li {
    display: block;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.wmsKanbanItem .drop-zone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.wmsKanbanItem .drop-zone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.wmsKanbanItem .drop-zone .dndPlaceholder {
    background-color: #ddd !important;
    position: relative;
    display: block;
    min-height: 42px;
}

/***************************** Element type specific styles *****************************/

.wmsKanbanItem .drop-zone .itemlist {
    min-height: 120px !important;
}

.wmsKanbanItem .drop-zone .itemlist > li {
    border: solid #0a0a0a thin;
    border-radius: .25em;
    font-weight: 700;
    height: 50px;
    margin: 5px;
    padding: 5px;
}

.vertical-middle {
    vertical-align: middle;
}

.border-none {
    border: 0 !important;
}
.panel-heading{
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    color: #333;
    border: 1px solid #C2C2C2;
    background: #fafafa;
    padding: 5px 15px;
}
.ribbon-icon{
    margin: 12px 5px 0 0;
    color: #fdfdfd;
}

/* ----------------------- dashboard style ------------------------ */
.dashboard .panel-default > .panel-heading {
    color: #fff;
    background-color: #4c4f53;
    border-color: #4c4f53;
}
.dashboard #widget-header a{
    color : #fff;
    margin: 0 3px;
}
/* ----------------------- dashboard style end ------------------------ */
