<div id="content" >


    <div class="row">
        <big-breadcrumbs items="['Other Pages', 'Profile']" icon="file-o"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <!-- end row -->
    <!-- row -->
    <form ng-controller="userProfileCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="myCarousel" class="carousel fade profile-carousel">
                                        <div class="air air-top-left padding-10">
                                            <h3 class="txt-color-white font-md">프로필</h3>
                                        </div>
                                        <ol class="carousel-indicators" style="left: 32%;">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1" class></li>
                                            <li data-target="#myCarousel" data-slide-to="2" class></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <!-- Slide 1 -->
                                            <div class="item active">
                                                <img src="/content/images/demo/s1.jpg" alt="demo user">
                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="item">
                                                <img src="/content/images/demo/s2.jpg" alt="demo user">
                                            </div>
                                            <!-- Slide 3 -->
                                            <div class="item">
                                                <img src="/content/images/demo/m3.jpg" alt="demo user">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2 profile-pic">
                                            <img ng-src="{{userProfileImage}}" alt="demo user">

                                            <div class="padding-10">
                                                <label for="uploadFile" class="cursor"><i class="fa fa-camera"></i> 사진 업로드</label>
                                                <input type="file" custom-on-change="uploadFile" id="uploadFile" style="display: none"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 user-profile-info">
                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">이름</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" ng-model="vm.user.name" type="text">
                                                </div>
                                                <label class="col-md-3 control-label">전화번호</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" ng-model="vm.user.phone" ui-mask="999-9999-9999" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 user-profile-info">
                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">메일주소</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" ng-model="vm.user.email" type="text" disabled>
                                                </div>
                                                <label class="col-md-3 control-label">회사명</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="text" value="WMS" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <hr>
                                        <div class="col-sm-2 profile-pic">
                                        </div>
                                        <div class="col-sm-5 user-profile-info">
                                            <div class="form-group row">
                                                <label class="col-md-3 control-label">이전 비밀번호</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" value="WMS" type="password" disabled>
                                                </div>
                                                <label class="col-md-3 control-label">새 비밀번호</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="password" value="WMS" disabled>
                                                </div>
                                                <label class="col-md-3 control-label">비밀번호 확인</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="password" value="WMS" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 col-md-5 col-lg-5 user-profile-info">
                                            ※ 비밀번호는 8~32자의 영문 대/소문자, 숫자, 특수문자를 조합하여 사용하시는 게 안전합니다.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <hr>
                                        <div class="col-sm-12 user-profile-info text-center margin-bottom-10">
                                            <button type="button" class="btn btn_icon btn_customs cursor btn-success btn-sm btn-radius" ng-click="vm.userUpload()" ng-show="vm.task.id != ''" name="save" aria-hidden="false">
                                                <span translate="entity.action.change">변경</span>
                                            </button>
                                            <button type="submit"
                                                    onclick="window.history.back()"
                                                    class="btn btn-info" owl-btn-cancel-back>
                                            </button>
                                            <br/>
                                        </div>
                                        <!--<div class="col-sm-8 user-profile-info">-->

                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>

                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- end row -->
</div>
