<owl-alert-close></owl-alert-close>
<div class="modal-header modal-edit" draggable="">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" translate="{{viewTitle}}"></h4>
</div>

<div class="modal-body" dynamic-scroll style="overflow-y: auto">
    <div ng-class="viewTypeClass">
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>
        <p><span translate="{{viewMessage}}"></span></p><p><span translate="{{viewMessage}}"></span></p>











    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn_icon btn_customs" style="background-color:#028edd;color: #FFFFFF;" owl-btn-update></button>
    <button type="button" class="btn btn_icon btn_customs" style="background-color:#028edd;color: #FFFFFF;" owl-btn-save></button>
    <button type="button" class="btn btn_icon btn_customs2" ng-click="cancel()" owl-btn-cancel></button>
</div>
